@model IPMS.Domain.ValueObjects.PrivilegeVO

@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_IPMSLayout.cshtml";
    var UserID = "";
    var showViewOnLoad = false;
    if (!string.IsNullOrEmpty(ViewBag.UserID))
    {
        UserID = ViewBag.UserID;
        showViewOnLoad = true;
    }
}

@section scripts
{
    <script src="~/Scripts/Application/Model/UserModel.js"></script>
<script src="~/Scripts/Application/ViewModel/UserViewModel.js"></script>
<script src="~/Scripts/Application/ViewModel/WorkflowTaskExecution.js"></script>
}
@section ko_apply
{

    var showOnLoad = false;
    if ("@showViewOnLoad" == "True")
    {
         showOnLoad = true;
    }
     var viewModel = new IPMSROOT.UserViewModel("@UserID", showOnLoad);

    ko.applyBindingsWithValidation(viewModel, $("#UserMaster")[0], { insertMessages: false, messagesOnModified: false, grouping: { deep: true }});
}

<!-- BEGIN CONTENT -->

<div class="row">
    <div class="col-md-12">
        <h3 class="page-title"><span id="UserMasterTitile"></span></h3>
        <ul class="page-breadcrumb breadcrumb"></ul>
    </div>
</div>
<link href="~/Content/Styles/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/Styles/kendo.default.min.css" rel="stylesheet" />
<div id="UserMaster">
    <div data-bind="visible: viewMode() == 'List', template: { name: 'List-template' }"></div>
    <div data-bind="visible: viewMode() == 'Form', template: { name: 'Form-template' }"></div>
</div>

<!-- Main body content starts here for developers-->
<div class="clearfix"></div>

<div class="portlet-body">

    <div class="table-toolbar">

        <script type="text/html" id="List-template">

            <div>
                <div class="portlet box advbg">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-reorder"></i>Advance Search
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="form-wizard form-horizontal">
                            <div class="form-body">
                                <div class="alert alert-danger display-none">
                                    <button class="close" data-dismiss="alert"></button>
                                    You have some form errors. Please check below.
                                </div>
                                <div class="alert alert-success display-none">
                                    <button class="close" data-dismiss="alert"></button>
                                    Your form validation is successful!
                                </div>
                                <div class="form-group" data-bind="with: userModel">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-6">User Type :</label>
                                                <div class="col-md-6">
                                                    <div>
                                                        <select id="UsertypeID" name="Usertype" class="form-control" data-bind="options: $parent.userTypeValues, optionsText: 'SubCatName', optionsValue: 'SubCatCode', value: usertypeSearch, event: { change: advSearchUserTypeChange }"></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Name:</label>
                                                <div class="col-md-8">
                                                    <div>
                                                        <input id="UserNameID" name="UserName" class="form-control" data-bind="value: userNameSearch" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3" id="divSAPNO" style="display: none;">
                                            <div class="form-group">
                                                <label class="control-label col-md-4" id="lblReferenceNo">:</label>
                                                <div class="col-md-8">
                                                    <div>
                                                        <input id="refno" class="form-control" data-bind="value: ReferenceNoSearch" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="col-md-3"></div>
                                                <label class="control-label col-md-6">Dormant Users:</label>
                                                <div class="col-md-2">
                                                    <div>
                                                        <input type="checkbox" id="chkDormantUsers" name="Dormant Users" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-11 fluid">
                                                    <button type="submit" class="btn btn-sm green" data-bind="click: $root.LoadUserList">Get Data</button>
                                                    <button type="submit" class="btn btn-sm blue" data-bind="click: $root.ResetData">Reset</button>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div data-bind="loadingWhen: $root.viewModelHelper.isLoading">

                <div id="tableheader">
                    @if (Model.HasAddPrivilege)
                    {
                        <a class="button gbtngreen" data-bind="click: $root.addUser ">Add New <i class="fa fa-plus"></i></a>
                    }
                </div>
                <div id="grdUserList" data-bind="kendoGrid: {
    data: UserList,
    groupable: false,
    sortable: true,
    scrollable: true,
    filterable: { extra: false, operators: { string: { startswith: 'Starts with', eq: 'Is equal to', neq: 'Is not equal to', contains: 'Contains', doesnotcontain: 'Does not Contain' } } },
    rowTemplate: 'rowTmpl',
    pageable: { pageSize: 20, pageSizes: 20 },
    useKOTemplates: true, columns: [{ field: 'SubCatNameSort', title: 'User Type', filterable: true }
                         , { field: 'NameSort', title: 'Name', filterable: true },
                           { field: 'FirstNameSortable', title: 'First Name', filterable: true },
                           { field: 'LastNameSortable', title: 'Last Name', filterable: true },
                           { field: 'UserNameSort', title: 'User Name', filterable: true },
                           { field: 'ReferenceNoSort', title: 'SAP No.', filterable: true },
                           { title: 'Status', filterable: true }, { title: 'Actions', width: '230px', filterable: true }]
}">
                </div>
                <script id="rowTmpl" type="text/html">
                    <tr>
                        <td>
                            <div class="nowrap"><span data-bind="text: SubCatName"></span></div>
                        </td>
                        <td>
                            <div class="nowrap"><span data-bind="text: Name"></span></div>
                        </td>
                        <td>
                            <div class="nowrap"><span data-bind="text: FirstName"></span></div>
                        </td>
                        <td>
                            <div class="nowrap"><span data-bind="text: LastName"></span></div>
                        </td>
                        <td>
                            <div class="nowrap"><span data-bind="text: UserName"></span></div>
                        </td>
                        <td class="tdReferenceNo">
                            <div class="nowrap" id="divReference"><span data-bind="text: ReferenceNo"></span></div>
                        </td>
                        <td>
                            <div class="nowrap"><span data-bind="text: RecordStatust"></span></div>
                        </td>
                        <td>
                            <div class="nowrap">
                                &nbsp; &nbsp;
                        @*    @if(Model.HasViewPrivilege){
                            *@<a href="#" data-bind="click: $parent.viewuser" title="View"><i class="fa fa-eye"></i></a>
                                @*}*@

                                &nbsp; 
                            @if (Model.HasEditPrivilege)
                            {
                                <a href="#" data-bind="click: $parent.edituser" title="Edit"><i class="fa fa-edit"></i></a>}&nbsp;
                            <a href="#" data-bind="click: $parent.viewWorkFlow" title="View Workflow"><i class="fa fa-stack-exchange"></i></a>&nbsp;
                            @if (Model.HasEditPrivilege)
                            {
                                <a href="javascript:;" title="Reset" data-bind="click: $root.ResetUserPwd">Reset Password</a> }


                            </div>
                        </td>
                    </tr>
                </script>
            </div>

            <div class="form-body" data-bind="with: userModel">
                <div class="form-group">
                    <div id="stack1" class="modal fade" tabindex="-1" data-width="400">
                        <div class="modal-dialog" style="width: 500px;">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <div class="scroller" style="height: 225px" data-always-visible="1" data-rail-visible1="1">
                                        <fieldset>
                                            <legend id="spnTitile1">WorkFlow Remarks</legend>
                                            <div align="center">
                                                <textarea rows="3" cols="50" class="form-control" id="WorkFlowRemarks" style="width: 350px; height: 180px; text-align: center; margin: 0px 9.5px 0px 0px; resize: none;" data-bind="value: WorkFlowRemarks" disabled=""></textarea>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <br>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </script>
        <script id="customMessageTemplate" type="text/html">
            <span class="validationError" data-bind='validationMessage: field'></span>
        </script>
        <script type="text/html" id="Form-template">
            <div class="portlet portlet-body form">
                <form action="#" id="form_sample_1" class="form-horizontal">
                    <div class="form-wizard" data-bind='validationOptions: { messageTemplate: "customMessageTemplate" }'>

                        <div class="form-body" data-bind="with: userModel">
                            @*<div id="divValidationError" class="alert alert-danger display-none">
                                <button class="close" data-dismiss="alert"></button>
                                You have some form errors. Please check below.
                            </div>
                            <div id="divValidationSuccess" class="alert alert-success display-none">
                                <button class="close" data-dismiss="alert"></button>
                                Your form validation is successful!
                            </div>*@
                            <div class="form-group">
                                <fieldset>
                                    <legend>User Details</legend>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label class="control-label col-md-6">
                                                    User Type: 
                                                    <span class="required">*</span></label>
                                                <div class="col-md-6">
                                                    <select id="utype" name="Usertype" class="form-control" data-bind="options: $parent.userTypeValues, optionsText: 'SubCatName', optionsCaption: 'Choose Type', optionsValue: 'SubCatCode', value: SubCatCode, event: { change: $parent.LoadUsers }, enable: $parent.isUserTypeEnable"></select>
                                                    <span id="spanUsertype" class="validationError"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-6">Name:<span class="required">*</span></label>
                                                <div class="col-md-6" id="divDefault">
                                                    <input id="txtdefault" name="Ename" class="form-control" />
                                                    <span id="spandefault" class="validationError"></span>
                                                </div>
                                                <div class="col-md-6" id="divAutoEmployees">
                                                    @*<input id="AutoEmployees" name="Ename" data-bind="kendoAutoComplete: { data: $root.employeeValues, dataTextField: 'Name', select: BindData, filter: 'contains' }, value: Name, enable: $parent.isNameEnable" />*@
                                                    <input id="AutoEmployees" name="Ename" />
                                                    <span id="spanEmployees" class="validationError"></span>
                                                </div>
                                                <div class="col-md-6" id="divAutoAgent">


                                                    @*<input id="AutoEmployees" name="Ename" data-bind="kendoAutoComplete: { data: $root.employeeValues, dataTextField: 'Name', select: BindData, filter: 'contains' }, value: Name, enable: $parent.isNameEnable" />*@
                                                    <input id="AutoAgent" name="Ename" />
                                                    @* <span id="spanvcnd" class="validationError" data-bind="validationMessage: VCN"></span>*@
                                                    <span id="spanAgent" class="validationError"></span>
                                                </div>
                                                <div class="col-md-6" id="divAutoTo">
                                                    @*<input id="AutoEmployees" name="Ename" data-bind="kendoAutoComplete: { data: $root.employeeValues, dataTextField: 'Name', select: BindData, filter: 'contains' }, value: Name, enable: $parent.isNameEnable" />*@

                                                    <input id="AutoTo" name="Ename" />
                                                    @* <span id="spanvcnd" class="validationError" data-bind="validationMessage: VCN"></span>*@
                                                    <span id="spanTO" class="validationError"></span>


                                                </div>

                                                <div class="col-md-6" id="divExternalUser">
                                                    <input id="ExternalUser" name="Ename" data-bind="value: Name, enable: $parent.editableView" class="form-control" />
                                                    <span id="spanExternalUser" class="validationError"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6" id="divReferenceNo">
                                            <div class="form-group">
                                                <label class="control-label col-md-6">
                                                    <span id="NoTitile"></span>
                                                    <span class="required">*</span></label>
                                                <div class="col-md-6">
                                                    <input type="text" id="ReferenceNo" class="form-control" name="intcharacter" maxlength="10" data-bind="value: ReferenceNo, enable: $parent.isReferenceNoEnable" />
                                                    <span id="spanReferenceNo" class="validationError"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6" id="divDesignation">
                                            <div class="form-group">
                                                <label class="control-label col-md-6">
                                                    Designation:
                                                     <span class="required">&nbsp;&nbsp;</span>
                                                </label>
                                                <div class="col-md-6">
                                                    <input id="Desig" type="text" class="form-control" name="intcharacter" readonly="readonly" data-bind="value: Designation" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-6">
                                                    First Name:
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6">
                                                    <input id="FN" type="text" class="form-control" name="intcharacter" maxlength="50" data-bind="value: FirstName, event: { keypress: ValidateAlphabetsWithSpaces }, enable: $parent.IsFirstNameEnabled">
                                                    <span id="userid" class="validationError"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-6">
                                                    Surname: 
                                                    <span class="required">&nbsp;&nbsp;</span>
                                                </label>
                                                <div class="col-md-6">
                                                    <input id="LN" type="text" class="form-control" name="intcharacter" maxlength="50" data-bind="value: LastName, event: { keypress: ValidateAlphabetsWithSpaces }, enable: $parent.IsSurNameEnabled">
                                                    <span id="spansurName" class="validationError"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-6">
                                                    User Name:
                                                  <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6">
                                                    <input type="text" id="UserName" class="form-control" name="intcharacter" maxlength="15" data-bind="value: UserName, enable: $parent.IsUserNameEnabled, event: { change: ValidEvent, keypress: $parent.validationHelper.ValidateAlphaNumeric }">
                                                    <span id="spanusername" class="validationError"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-6">
                                                    Email Address:
                                                 <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6">
                                                    <input type="text" id="EmailID" class="form-control" name="intcharacter" maxlength="50" data-bind="value: EmailID, event: { keypress: ValidateAlphanumeric }, enable: $parent.IsEmailAddEnabled">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-6">
                                                    Contact No.:
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6">
                                                    <input type="text" id="ContactNo" class="form-control" name="intcharacter" data-bind="value: ContactNo, event: { keypress: Validatenumeric }, enable: ContactNo() != '' ? $parent.IsContactNumberEnabled : true" maxlength="17">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-6">
                                                    Reason For Access:
                                                </label>
                                                <div class="col-md-6">
                                                    <input type="text" id="ReasonForAccess" class="form-control" name="Reason For Access" maxlength="100" data-bind="value: ReasonForAccess, enable: $parent.IsReasonForAccessEnabled">
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-6">
                                                    Valid From Date:
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6">
                                                    @*<input id="ValidFromDate" type="text" class="form-control datetime-picker" onkeypress="return false;" onkeydown="PreventBackSpace();" data-bind="kendoDatePicker: { value: ValidFromDate, format: 'yyyy-MM-dd', enabled: $parent.editActive, min: new Date(), readonly: true }, event: { change: ValidDate }" name="Valid From Date" maxlength="10" />*@
                                                    <input id="ValidFromDate" type="text" onkeypress="return false;" onkeydown="PreventBackSpace();" class="form-control datetime-picker" data-bind="kendoDatePicker: { value: ValidFromDate, format: 'yyyy-MM-dd', enabled: $parent.IsValidDtFromEnabled, month: { empty: '<span class=k-state-disabled>#= data.value #</span>' } }, event: { change: ValidDate }" name="Valid From Date" maxlength="10" />
                                                    @*<input id="ValidFromDate" type="text" class="form-control datetime-picker" onkeypress="return false;" onkeydown="PreventBackSpace();" data-bind="kendoDatePicker: { value: ValidFromDate, format: 'yyyy-MM-dd', enabled: ValidFromDate() != '' ? $parent.IsValidDtFromEnabled : true, min: new Date(), readonly: true, month: { empty: '<span class=k-state-disabled>#= data.value #</span>' } }," name="Valid To Date" maxlength="10" />*@
                                                    <span id="spanValidFromDate" class="validationError"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-6">
                                                    Valid To Date:
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6">
                                                    @*<input id="ValidToDate" type="text" class="form-control datetime-picker" onkeypress="return false;" onkeydown="PreventBackSpace();" data-bind="kendoDatePicker: { value: ValidToDate, format: 'yyyy-MM-dd',  min: ValidFromDate, readonly: true, month: { empty: '<span class=k-state-disabled>#= data.value #</span>' } }," name="Valid To Date" maxlength="10" />*@
                                                    <input id="ValidToDate" type="text" onkeypress="return false;" onkeydown="PreventBackSpace();" class="form-control datetime-picker" data-bind="kendoDatePicker: { value: ValidToDate, format: 'yyyy-MM-dd', min: ValidFromDate, enabled: $parent.IsValidDtFromEnabled, month: { empty: '<span class=k-state-disabled>#= data.value #</span>' } }" name="Valid to Date" maxlength="10" />

                                                    <span id="spanValidToDate" class="validationError"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-6">
                                                    Role:
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6">
                                                    <input id="MultiSelect" data-bind="kendoMultiSelect: { dataTextField: 'RoleName', dataValueField: 'RoleID', data: $parent.Roles, value: viewRole, enabled: $parent.isRoleEnabled }" />
                                                    <span id="spanRole" class="validationError"></span>
                                                </div>
                                            </div>
                                        </div>
                                       <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-6">
                                                    Port Names :
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6">
                                                    <input id="MultiPorts" data-bind="kendoMultiSelect: { dataTextField: 'PortName', dataValueField: 'PortCode', data: $parent.UserPorts, value: viewPorts, enabled: $parent.isPortEnabled }" />
                                                    <span id="spanMultiports" class="validationError"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-6">
                                                    Status:
                                                </label>
                                                <div class="col-md-6">
                                                    <div class="radio-list">
                                                        <input type="radio" name="Status" value="A" data-bind="checked: RecordStatus, enable: $parent.editActive">
                                                        <label class="radio-inline">Active</label>
                                                        <input name="Status" type="radio" value="I" data-bind="checked: RecordStatus, enable: $parent.editActive">
                                                        <label class="radio-inline">Inactive</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6" data-bind="visible: $parent.isDormantUserVisible">
                                            <div class="form-group">
                                                <label class="control-label col-md-6">Is Dormant User?:</label>
                                                <div class="col-md-4">
                                                    <input type="Checkbox" id="IsDormantUser" name="IsDormantUser" data-bind="checked: $parent.isDormantUser, enable: $parent.isDormantUserEnabled">
                                                </div>
                                                @*<label>
                                                    <input type="checkbox" id="IsDormantUser" data-bind="checked: $parent.isDormantUser, enable: $parent.isDormantUserEnabled" />Dormant User</label>
                                                <div class="col-md-6">
                                                </div>*@
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="btns-group form-actions fluid" data-bind="loadingWhen: $root.viewModelHelper.isLoading">
                                <button type="submit" class="btn green" title="Save" data-bind="click: $parent.SaveUser, visible: $parent.IsSave">Save</button>
                                <button type="submit" class="btn green" title="Update" data-bind="click: $parent.ModifyUser, visible: $parent.IsUpdate">Update</button>
                                <button type="submit" class="btn blue" title="Reset" data-bind="click: $parent.ResetUser, visible: $parent.IsReset">Reset</button>
                                <button type="button" class="btn red" title="Cancel" data-bind="click: $parent.cancel">Cancel</button>
                            </div>
                            <div class="form-actions fluid">

                                @{Html.RenderPartial(Url.Content("~/Views/Shared/PendingTaskView.cshtml"));}

                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </script>

    </div>
</div>



<!-- Main body content ends here for developers-->
