@{
    ViewBag.Title = "New Agent Registration";
    Layout = "~/Views/Shared/_IPMSLayout.cshtml";

    var vcn = "";
    var showViewOnLoad = false;
    if (!string.IsNullOrEmpty(ViewBag.VCN))
    {
        vcn = ViewBag.VCN;
        showViewOnLoad = true;
    }    
}

<style>
    .checked {
        background: #ff0000;
    }
</style>
<script id="customMessageTemplate" type="text/html">
    <span class="validationError nowrap" data-bind='validationMessage: field'></span>
</script>

@section scripts{
    <script src="~/Scripts/Application/Model/AgentRegistrationModel.js"></script>
    <script src="~/Scripts/Application/ViewModel/AgentRegistrationViewModel.js"></script>
    <script src="~/Scripts/Application/ViewModel/WorkflowTaskExecution.js"></script>
}
@section ko_apply
{
var showOnLoad = false;
if ("@showViewOnLoad" == "True")
{
     showOnLoad = true;
}   
var viewModel = new IPMSROOT.AgentRegistrationViewModel("@vcn", showOnLoad);
ko.applyBindingsWithValidation(viewModel, $("#divRegistration")[0], { insertMessages: false, messagesOnModified: false, grouping: { deep: true }});
}

<div class="row">
    <div class="col-md-12">
        <h3 class="page-title">Agent Registration</h3>
        <ul class="page-breadcrumb breadcrumb"></ul>
    </div>
</div>
<div class="row" data-bind="loadingWhen: $root.viewModelHelper.isLoading">
    <div class="col-md-12">
        <div class="portlet" id="divFormWizardTabNavigation">
            <div class="portlet-body form">
                <form action="#" class="form-horizontal" id="submit_form" data-bind='with: AgentData'>
                    <div class="form-wizard" data-bind='validationOptions: { messageTemplate: "customMessageTemplate" }' id="divRegistration">
                        <div class="form-body">
                            <ul class="nav nav-pills nav-justified steps" id="ulTabs">
                                <li>
                                    <a data-toggle="tab" class="step" data-bind="click: $root.GotoTab1" style="cursor: pointer">
                                        <span class="number">1 
                                        </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i>Registration Details
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" class="step" data-bind="click: $root.GotoTab2" style="cursor: pointer">
                                        <span class="number">2
                                        </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i>Documents Upload
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" class="step active" data-bind="click: $root.GotoTab3" style="cursor: pointer">
                                        <span class="number">3
                                        </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i>Declaration &amp; Submit
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <div id="bar" class="progress progress-striped" role="progressbar">
                                <div class="progress-bar progress-bar-success">
                                </div>
                            </div>
                            <div class="tab-content">

                                <div class="tab-pane active" id="tab1" data-bind="visible: viewMode() == 'register1', template: { name: 'register1-template' }">
                                </div>

                                <div class="tab-pane active" id="tab2" data-bind="visible: viewMode() == 'register2', template: { name: 'register2-template' }">
                                </div>

                                <div class="tab-pane active" id="tab3" data-bind="visible: viewMode() == 'register3', template: { name: 'register3-template' }">
                                </div>

                            </div>
                        </div>
                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btns-group form-actions fluid" data-bind="loadingWhen: $root.viewModelHelper.isLoading">
                                        <a href="javascript:;" title="Back" class="btn default button-previous" id="btnGoBack" data-bind="click: $root.GoToPrevTab" style="display: none"><i class="m-icon-swapleft"></i> Back </a>
                                        <a href="javascript:;" title="Next" class="btn default button-next" data-bind="click: $root.ValidateForm" id="btnSaveContinue">Next <i class="m-icon-swapright"></i></a>
                                        <a href="javascript:;" title="Submit" class="btn green button-submit" id="btnSubmit" style="display: none" data-bind="click: $root.SaveAgent">Submit</a>
                                        <a href="javascript:;" title="Reset" class="btn blue button-submit" id="btnReset" data-bind="click: $root.ResetAgent, visible: $root.IsReset">Reset</a>
                                        <a href="javascript:;" title="Cancel" class="btn red button-submit" id="btnCancel" data-bind="click: $root.cancel">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions fluid" data-bind='with: AgentData'>
                            @{Html.RenderPartial(Url.Content("~/Views/Shared/PendingTaskView.cshtml"));}
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="register1-template">
    <div class="form-group" data-bind='with: AgentData'>
        <fieldset>
            <legend><span style="color: red;">* </span>Port of Operations</legend>

            <div class="row ">
                <input type="checkbox" id="chkAllport" name="Allport" onclick="toggle(this)" />
                <label>Select all ports below</label>
                <div class="clearfix">
                    <br>
                </div>
                <div class="checkbox-list" id="divPortList" data-bind="foreach: PortData">
                    <div class="col-md-3">
                        <input type="checkbox" name="port" onclick="toggleSingle(this)" data-bind="value: PortCode, attr: { id: 'chkPort_' + PortCode }"><label data-bind="    text: PortName"></label>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="clearfix">
            <br>
        </div>
        <div class="form-body" id="divAgentFields">
            <fieldset>
                <legend>Applicant Details</legend>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Name Of Applicant:<span class="required">*</span></label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" oncopy="return false" onpaste="return false" oncut="return false" ondragover="PreventDrop(event)" data-bind="value: RegisteredName, valueUpdate: 'keypress', event: { keypress: ValidateAlphabetsWithSpaces }" maxlength="100">
                                <input type="hidden" data-bind="value: AnonymousUserYn" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Trading Name:<span class="required">*</span></label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" oncopy="return false" onpaste="return false" oncut="return false" ondragover="PreventDrop(event)" data-bind="value: TradingName, valueUpdate: 'keypress', event: { keypress: ValidateAlphabetsWithSpaces }" maxlength="100">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Registration Number:<span class="required">*</span></label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" oncopy="return false" onpaste="return false" oncut="return false" ondragover="PreventDrop(event)" data-bind="value: RegistrationNumber, valueUpdate: 'keypress', event: { keypress: ValidateAlphanumeric, change: ValidRegNo }" maxlength="50">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Income Tax Number:<span class="required">*</span></label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" oncopy="return false" onpaste="return false" oncut="return false" ondragover="PreventDrop(event)" data-bind="value: IncomeTaxNumber, valueUpdate: 'keypress', event: { keypress: ValidateAlphanumeric, change: ValidITNO }" maxlength="50">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">VAT Number:<span class="required">*</span></label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" oncopy="return false" onpaste="return false" oncut="return false" ondragover="PreventDrop(event)" data-bind="value: VATNumber, valueUpdate: 'keypress', event: { keypress: ValidateAlphanumeric, change: ValidVATNo }" maxlength="50">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Levy No.:<span class="required">*</span></label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" oncopy="return false" onpaste="return false" oncut="return false" ondragover="PreventDrop(event)" data-bind="value: SkillsDevLevyNumber, valueUpdate: 'keypress', event: { keypress: ValidateAlphanumeric }" maxlength="50">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix">
                    <br>
                </div>

                <div class="col-md-6">

                    <div style="margin-right: 5px;">
                        <fieldset>
                            <legend>Principal place of Business:</legend>

                            <div class="col-md-11">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Number &amp; Street:<span class="required">*</span></label>
                                    <div class="col-md-8">
                                        <input type="text" id="txtBusinessstreet" class="form-control" oncopy="return false" onpaste="return false" oncut="return false" ondragover="PreventDrop(event)" data-bind="value: NumberStreet, valueUpdate: 'keypress', event: { keypress: ValidateAlphanumeric } " maxlength="200">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Suburb:<span class="required">*</span></label>
                                    <div class="col-md-8">
                                        <input type="text" id="txtBusinesssuburb" class="form-control" oncopy="return false" onpaste="return false" oncut="return false" ondragover="PreventDrop(event)" data-bind="value: Suburb, valueUpdate: 'keypress', event: { keypress: ValidateAlphabetsWithSpaces }" maxlength="50">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Town/City:<span class="required">*</span></label>
                                    <div class="col-md-8">
                                        <input type="text" id="txtBusinesstowncity" class="form-control" oncopy="return false" onpaste="return false" oncut="return false" ondragover="PreventDrop(event)" data-bind="value: TownCity, valueUpdate: 'keypress', event: { keypress: ValidateAlphabetsWithSpaces }" maxlength="50">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-11">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Country:<span class="required">*</span></label>
                                    <div class="col-md-8">
                                        <select name="ResidentialAddressCountry" id="ResidentialAddressCountry" oncopy="return false" onpaste="return false" oncut="return false" class="form-control" data-bind="options: $root.CountriesList, optionsText: 'SubCatName', optionsValue: 'SubCatCode', value: CountryCode, optionsCaption: 'Select...', valueUpdate: 'keypress'"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-11">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Postal Code:<span class="required">*</span></label>
                                    <div class="col-md-5">
                                        <input type="text" id="txtBusinesscode" class="form-control" maxlength="15" oncopy="return false" onpaste="return false" oncut="return false" ondragover="PreventDrop(event)" data-bind="value: PostalCode, valueUpdate: 'keypress', event: { keypress: Validatenumeric }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Telephone No.:<span class="required">*</span></label>
                                    <div class="col-md-3">
                                        <input name="phone" type="text" id="phone" class="form-control" maxlength="15" oncopy="return false" onpaste="return false" oncut="return false" ondragover="PreventDrop(event)" data-bind="value: TelephoneNo1, valueUpdate: 'keypress', event: { keypress: Validatenumeric, maxlenght: 15 }">
                                    </div>
                                    <div class="col-md-5" style="display: none">
                                        <label class="control-label fc-col0">&nbsp;<a href="#" onclick="generateRow()">Add New</a></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Fax No.:<span class="required">*</span></label>
                                    <div class="col-md-5">
                                        <input type="text" id="faxno" class="form-control" maxlength="15" oncopy="return false" onpaste="return false" oncut="return false" ondragover="PreventDrop(event)" data-bind="value: FaxNo, valueUpdate: 'keypress', event: { keypress: Validatenumeric }">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="col-md-6">
                    <div style="margin-left: 5px;">
                        <fieldset style="height: 198px;" id="fldPostalAddress">
                            <legend>Postal Address:</legend>
                            <div class="col-md-11">
                                <div>
                                    <label>
                                        <input type="checkbox" id="chkBuisinessAddress" data-bind="click: $root.FillPostal">Same as 'Principal place of Business'
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Number &amp; Street:<span class="required">*</span></label>
                                    <div class="col-md-8">
                                        <input type="text" id="txtPostalstreet" class="form-control" oncopy="return false" onpaste="return false" oncut="return false" ondragover="PreventDrop(event)" data-bind="value: NumStreet2, valueUpdate: 'keypress', event: { keypress: ValidateAlphanumeric }" maxlength="200">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Suburb:<span class="required">*</span></label>
                                    <div class="col-md-8">
                                        <input type="text" id="txtPostalsuburb" class="form-control" oncopy="return false" onpaste="return false" oncut="return false" ondragover="PreventDrop(event)" data-bind="value: Suburb2, valueUpdate: 'keypress', event: { keypress: ValidateAlphabetsWithSpaces }" maxlength="50">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Town/City:<span class="required">*</span></label>
                                    <div class="col-md-8">
                                        <input type="text" id="txtPostaltowncity" class="form-control" oncopy="return false" onpaste="return false" oncut="return false" ondragover="PreventDrop(event)" data-bind="value: TownCity2, valueUpdate: 'keypress', event: { keypress: ValidateAlphabetsWithSpaces }" maxlength="50">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-11">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Country:<span class="required">*</span></label>
                                    <div class="col-md-8">
                                        <select name="PostalAddressCountry" id="PostalAddressCountry" oncopy="return false" onpaste="return false" oncut="return false" ondragover="PreventDrop(event)" class="form-control" data-bind="options: $root.CountriesList, optionsText: 'SubCatName', optionsValue: 'SubCatCode', value: CountryCode2, optionsCaption: 'Select...', valueUpdate: 'keypress'"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-11">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Postal Code:<span class="required">*</span></label>
                                    <div class="col-md-5">
                                        <input type="text" id="txtPostalcode" class="form-control" oncopy="return false" onpaste="return false" oncut="return false" ondragover="PreventDrop(event)" maxlength="15" data-bind="value: PostalCode2, valueUpdate: 'keypress', event: { keypress: Validatenumeric }">
                                    </div>
                                </div>

                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="clearfix">
                    <br>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div style="margin-right: 5px;">
                            <fieldset>
                                <legend>Authorized Contact Person Details:</legend>
                                <div class="col-md-11">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">First Name:<span class="required">*</span></label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" oncopy="return false" onpaste="return false" oncut="return false" ondragover="PreventDrop(event)" data-bind="value: FirstName, valueUpdate: 'keypress', event: { keypress: ValidateAlphabetsWithSpaces }" maxlength="100">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-11">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Surname:<span class="required">*</span></label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" oncopy="return false" onpaste="return false" oncut="return false" ondragover="PreventDrop(event)" data-bind="value: SurName, valueUpdate: 'keypress', event: { keypress: ValidateAlphabetsWithSpaces }" maxlength="100">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-11">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Identity No.:<span class="required">*</span></label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" maxlength="15" oncopy="return false" onpaste="return false" oncut="return false" ondragover="PreventDrop(event)" data-bind="value: IdentityNo, valueUpdate: 'keypress', event: { keypress: ValidateAlphanumeric }">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-11">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Designation:<span class="required">*</span></label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" data-bind="value: Designation, valueUpdate: 'keypress', event: { keypress: ValidateAlphanumeric }" maxlength="15">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-11">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Cellular No.:<span class="required">*</span></label>
                                        <div class="col-md-3">
                                            <input type="text" id="CellularNo" class="form-control" oncopy="return false" onpaste="return false" oncut="return false" ondragover="PreventDrop(event)" maxlength="15" data-bind="value: CellularNo, valueUpdate: 'keypress', event: { keypress: Validatenumeric }">
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-11">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Email Address:<span class="required">*</span></label>
                                        <div class="col-md-8">
                                            <input type="email" class="form-control" oncopy="return false" onpaste="return false" oncut="return false" ondragover="PreventDrop(event)" data-bind="value: EmailID, event: { keypress: ValidateAlphanumeric }" maxlength="50">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div style="margin-left: 5px;">
                            <fieldset style="height: 198px;">
                                <legend>Membership</legend>
                                <div class="col-md-11">
                                    <div class="form-group">
                                        <label class="col-md-5">SARS Tax Clearance Certified?</label>
                                        <div class="col-md-4">
                                            <div class="radio-list">
                                                <label class="radio-inline">
                                                    <input type="radio" name="SarsTaxCleaCert" value="Y" data-bind="checked: SARSTaxClearance">Yes</label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="SarsTaxCleaCert" value="N" data-bind="checked: SARSTaxClearance">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-11">
                                    <div class="form-group">
                                        <label class="col-md-5">Are you a member of SAASOA?</label>
                                        <div class="col-md-4">
                                            <div class="radio-list">
                                                <label class="radio-inline">
                                                    <input type="radio" name="SAASOA" value="Y" data-bind="checked: SAASOA">
                                                    Yes
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="SAASOA" value="N" data-bind="checked: SAASOA">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <div class="clearfix">
                    <br>
                </div>

                <fieldset>
                    <legend>Broad based black economic empowerment</legend>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-7">Do you qualify as Micro-Enterprise exempt in terms of BBBEE codes of good practice?</label>
                                <div class="col-md-2">
                                    <div class="radio-list">
                                        <label class="radio-inline">
                                            <input type="radio" name="BBBEEQualify" value="Y" data-bind="checked: QualifyBBBEECodes">
                                            Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="BBBEEQualify" value="N" data-bind="checked: QualifyBBBEECodes">No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <br>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-7">BBBEE Status in terms of BBBEE codes of good practice?</label>
                                <div class="col-md-1">
                                    <select id="DDBBBEEStatus" class="form-control" data-bind="options: BBBEEStatuses, value: BBBEEStatus">
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <label class="control-label fc-col0">&nbsp;Contribution</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <br>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-7">Is your BBBEE Status been verified by SANAS Accredited BEE verification agency?</label>
                                <div class="col-md-2">
                                    <div class="radio-list">
                                        <label class="radio-inline">
                                            <input type="radio" name="BBBEEStatVeri" value="Y" data-bind="checked: VerifyBBBEEStatus">
                                            Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="BBBEEStatVeri" value="N" data-bind="checked: VerifyBBBEEStatus">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="clearfix">
                    <br>
                    <br>
                </div>
            </fieldset>
        </div>
    </div>
</script>
<script type="text/html" id="register2-template">
    <fieldset data-bind='with: AgentData'>
        <legend>Documents Upload</legend>
        <div class="row fileupload-buttonbar">
            <div class="form-group">

                <div class="col-md-4">
                    <select name="documents" id="selUploadDocs" class="form-control" data-bind="options: DocumentTypes, optionsText: 'SubCatName', optionsValue: 'SubCatCode', value: DocumentTypeCode, optionsCaption: 'Choose....'">
                    </select>
                </div>
                <div class="col-md-7">
                    <span class="btn btn-sm green fileinput-button">
                        <i class="fa fa-plus"></i>
                        <span>Browse
                        </span>
                        <input type="file" name="files[]" id="fileToUpload" multiple>
                    </span>
                    <button type="button" data-bind="click: $parent.uploadFile" class="btn btn-sm blue start">
                        <i class="fa fa-upload"></i>
                        <span>Upload
                        </span>
                    </button>
                </div>
                <div class="row" data-bind="visible: $root.isfileToUpload">
                    <div class="form-group">
                        <div class="col-md-7">
                            &nbsp;&nbsp; <span id="spanHWPSfileToUpload" class="validationError" data-bind="visible: $root.isfileToUpload"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-advance">
                    <thead>
                        <tr>
                            <th class="bg-dark">Document Category</th>
                            <th class="bg-dark">Document Name</th>
                            <th class="bg-dark"></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: AgentDocumentsVO">
                        <tr>
                            <td data-bind="text: CategoryName"></td>
                            <td><a data-bind= "text FileName">Document</a></td>

                            <td><a href="#" class="btn default btn-xs red" data-bind="click: $root.DeleteDocument"><i class="fa fa-trash-o"></i>Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>
</script>
<script type="text/html" id="register3-template">
    <strong>Disclaimer:</strong>
    Submission of the electronic registration application does not mean that, the agency for which registration is seek registered with TNPA and is subject to physical presence of application before the legal deportment of the concerned port(s) with all relevant documents in original for the approval.
 <div class="clearfix">
     <br>
 </div>
    <fieldset>
        <legend>Agent Declaration</legend>

        <div class="form-group">
            I do hereby declare that:<ol type="a">
                <li>I have read the instructions set out on the Instructions page of this application form.</li>
                <li>The information submitted with and in this application is true, correct and complete.</li>
                <li>The application accepts that if any information in this application is not true or complete, or if false information is provided, or material information is not disposed, this may lead to the application being refused, or to the withdrawal, suspension or cancellation of any registration granted on the strength of this application.</li>
                <li>In order to allow for the proper verification of information submitted, the application hereby authorizes any institution, organ of state, person or body, who possesses or acquired any information relevant to the application, to disclose or make the information available to Transnet National Ports Authority.</li>
                <li>The applicant undertakes to co-operate with any investigators by timorously submitting responses to written requests for information or explanations, by attending meetings with investigators, by answering  questions satisfactorily at such meetings and if necessary, by grating investigators access to premises and documents. The applicant accepts that a failure to co-operate may constitute an independent ground for refusing an application.</li>
                <li>The applicant accepts that any attempt to influence the decision of Transnet National Ports Authority on the allocation of a registration in any manner other than provided for in the Guidelines or in this application form, may result in the application being refused.</li>
            </ol>
        </div>
    </fieldset>
    <div class="row">
        <div class="col-md-12">
            <label>&nbsp;</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>&nbsp;</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div style="margin-right: 5px;">
                <fieldset>
                    <legend>Security Code</legend>
                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-8">
                            <label id="lblCaptach" class="col-md-11" style="font-family: Zapf Chancery, cursive; text-align: center; padding-top: 8px; width: 148px; height: 30px; border: 1px solid #f00; color: #060; background: url(../../Content/Images/Background/texture-bg.jpg); font-size: 18px;" data-bind="text: $root.CaptachText">sample text </label>
                            <i class=" fa fa-refresh" title="Refresh" data-bind="click: RefreshCaptach" style="font-size: 20px; margin-top: 7px; margin-left: 7px;"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    Enter Security Code:<span class="required">*</span>
                                </label>
                                <div class="col-md-3">
                                    <input type="text" id="txtCaptachCode" style="width: 150px;" class="form-control" name="intcharacter" maxlength="6" onchange="ChangeCaptachCode();">
                                    <span id="spanCaptachCode" class="validationErrorL"></span>
                                </div>
                                <div class="col-md-5">
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

    </div>

    <br />
    <br />
    <div align="center" data-bind="with: AgentData">
        <input type="checkbox" data-bind="checked: termsConditions">
        I accept that have read the instructions set out on this instructions page
    </div>
</script>

@section FileUploadRestrict{
var file = document.getElementById('fileToUpload');

file.onchange = function (e) {
    var ext = this.value.match(/\.([^\.]+)$/)[1];
    switch (ext) {
        case 'png':
        case 'doc':
        case 'docx':
        case 'pdf':
        case 'xlsx':
        case 'xls':
        case 'pdf':
            break;
        default:
            toastr.error("Please upload the files with formats (PDF, word, excel, .png)", "Error");
            this.value = '';
    }
};
}