<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ITwoWayAsync" receiveTimeout="00:20:00" sendTimeout="00:20:00" transactionFlow="true" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483646" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
        <binding name="WSHttpBinding_ITwoWayAsync1"/>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://nitsez7.nit.ad/SAPArrival/BiztalkArrivalService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsync" contract="VesselArrivalServiceReference.BiztalkArrivalService" name="WSHttpBinding_ITwoWayAsync">
        <identity>
          <servicePrincipalName value="host/NITSEZ7.nit.ad"/>
        </identity>
      </endpoint>
      <endpoint address="http://nitsez7.nit.ad/SAPInvoice/BiztalkInvoiceService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsync" contract="InvoiceServiceReference.BiztalkInvoiceService" name="WSHttpBinding_ITwoWayAsync">
        <identity>
          <servicePrincipalName value="host/NITSEZ7.nit.ad"/>
        </identity>
      </endpoint>
      <endpoint address="http://nitsez7.nit.ad/SAPMarine/BiztalkMarineService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsync" contract="MarineOrderServiceReference.BiztalkMarineService" name="WSHttpBinding_ITwoWayAsync">
        <identity>
          <servicePrincipalName value="host/NITSEZ7.nit.ad"/>
        </identity>
      </endpoint>
      <endpoint address="http://nitsez7.nit.ad/SAPVesselCreate/BiztalkVesselCreateService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsync1" contract="VesselCreateServiceReference.BiztalkVesselCreateService" name="WSHttpBinding_ITwoWayAsync1">
        <identity>
          <servicePrincipalName value="host/NITSEZ7.nit.ad"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
