<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" showFlags="None" />
        <httpErrors>
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" prefixLanguageFilePath="" path="http://nitlap97/Forbidden.htm" responseMode="Redirect" />
        </httpErrors>
    </system.webServer>
    <system.web>
        <customErrors defaultRedirect="http://192.168.1.3/error.htm" mode="RemoteOnly" />
    </system.web>
</configuration>
