@model IPMS.Domain.ValueObjects.PrivilegeVO

@{
    ViewBag.Title = "ManageSubCategories";
    Layout = "~/Views/Shared/_IPMSLayout.cshtml";
}
@section scripts
{
    <script src="~/Scripts/Application/Model/SubCategoryModel.js"></script>
    <script src="~/Scripts/Application/ViewModel/SubCategoryViewModel.js"></script>
}
@section ko_apply
{
var viewModel = new IPMSROOT.SubCategoryViewModel();
ko.applyBindingsWithValidation(viewModel, $("#SubCategoriesMaster")[0], { insertMessages: false, messagesOnModified: false, grouping: { deep: true }});
}
<!-- BEGIN CONTENT -->

<div class="row">
    <div class="col-md-12">
        <h3 class="page-title"><span id="spnTitile"></span></h3>
        <ul class="page-breadcrumb breadcrumb"></ul>
    </div>
</div>

<!-- Main body content starts here for developers-->

<div id="SubCategoriesMaster">
    <div data-bind="visible: viewMode() == 'Form', template: { name: 'Form-template' }"></div>
</div>
<div class="clearfix"></div>
<div class="portlet-body" data-bind="loadingWhen: $root.viewModelHelper.isLoading">
    <div class="table-toolbar">
        <script id="customMessageTemplate" type="text/html">
            <span class="validationError" data-bind='validationMessage: field'></span>
        </script>
        <script type="text/html" id="Form-template">
            <div class="portlet portlet-body form">
                <form action="#" id="form_sample_1" class="form-horizontal">
                    <div class="form-wizard" data-bind='validationOptions: { messageTemplate: "customMessageTemplate" }'>
                        <div class="form-body" data-bind="with: subcategoryModel">
                            <div class="tab-pane active" id="tab1">
                                <div class="form-group">
                                    <fieldset>
                                        <legend>Sub Category Details</legend>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-5">
                                                        Super Category Name:<span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6">
                                                        <input data-bind="kendoDropDownList: { data: $parent.SuperCategoryList, value: SupCatCode, dataTextField: 'SupCatName', dataValueField: 'SupCatCode', enabled: $parent.IsCodeEnable, optionLabel: 'Select...' }, event: { change: $parent.SupCatChanged }" />
                                                        <span id="spanSupcatid" class="validationError" data-bind="validationMessage: SupCatCode "></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">
                                                        Sub Category Code:<span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6">
                                                        <input type="text" id="SubCategorycode" name="code" maxlength="4" autofocus="autofocus" class="form-control" data-bind="value: SubCatCode, enable: $parent.IsCodeEnable, event: { keyup: HandleSubCatCodeKeyUp, keypress: $parent.validationHelper.ValidateAlphaNumeric }" />
                                                        <span id="spansubcategorycode" class="validationError" data-bind="visible: $parent.UniqueCodeVisible">This sub category code is already exists</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-5">
                                                        Sub Category Name:<span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6">
                                                        <input type="text" id="SubCategoryname" name="name" maxlength="15" data-required="1" class="form-control" data-bind="value: SubCatName, enable: $parent.editableView, event: { keyup: HandleSubCatNameKeyUp, keypress: $parent.validationHelper.ValidateAlphaNumericWithSpaces }" />
                                                        <span id="spansubcategoryname" class="validationError" data-bind="visible: $parent.UniqueNameVisible">This sub category name is already exists</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">
                                                        Status:
                                                    </label>
                                                    <div class="col-md-6">
                                                        <input id="Status" name="statust" data-bind="kendoDropDownList: { data: [{ name: 'Active', val: 'A' }, { name: 'Inactive', val: 'I' }], value: RecordStatus, dataTextField: 'name', dataValueField: 'val', enabled: $parent.editableView } " />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                        </div>
                                        <br>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="btns-group form-actions fluid" data-bind="loadingWhen: $parent.viewModelHelper.isLoading">
                                <button type="submit" id="Save" class="btn green" value="POST VAL" data-bind="click: $parent.SaveSubCategory, visible: $parent.IsSave, disable: $parent.IsSaveUpdateDisabled">Save</button>
                                <button type="submit" id="Update" class="btn green" data-bind="click: $parent.ModifySubCategory, visible: $parent.IsUpdate, disable: $parent.IsSaveUpdateDisabled">Update</button>
                                <button type="submit" id="Reset" class="btn blue" data-bind="click: $parent.ResetSubCategory, visible: $parent.IsReset ">Reset</button>
                                <button type="submit" id="cancel" class="btn red" data-bind="click: $parent.cancel">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div id="grid" data-bind="kendoGrid: {
    data: SubCategoryList,
    groupable: false,
    sortable: true,
    scrollable: true,
    filterable: { extra: false, operators: { string: { startswith: 'Starts with', eq: 'Is equal to', neq: 'Is not equal to' } } },
    rowTemplate: 'rowTmpl',
    pageable: { pageSize: 5, pageSizes: 5 },
    useKOTemplates: true,
    columns: [{ field: 'SubCategoryCodeSort', title: 'Sub Category Code', width: '100', filterable: true },
        { field: 'SubCategoryNameSort', title: 'Sub Category Name', width: '100', filterable: true },
        { field: 'StatusSort', title: 'Status', filterable: true },
        { title: 'Actions', filterable: false }]
}">
            </div>

            <script id="rowTmpl" type="text/html">
                <tr>
                    <td><span data-bind="text: SubCatCode"></span></td>
                    <td>
                        <div class="nowrap"><span data-bind="text: SubCatName"></span></div>
                    </td>
                    <td>
                        <div class="nowrap">
                            <span data-bind="text: Statust"></span>
                        </div>
                    </td>
                    <td>
                        <div class="nowrap">
                            @if (Model.HasEditPrivilege)
                            {
                                <a href="#" data-bind="click: $parent.editsubcategory" title="Edit"><i class="fa fa-edit"></i></a>
                            }
                            @if (Model.HasViewPrivilege)
                            {
                                <a href="#" data-bind="click: $parent.viewsubcategory" title="View"><i class="fa fa-eye"></i></a>
                            }
                            &nbsp; &nbsp;                                    
                        </div>
                    </td>
                </tr>
            </script>
        </script>
    </div>
</div>

<!-- Main body content ends here for developers-->
