@model IPMS.Domain.ValueObjects.PrivilegeVO

@{    
    ViewBag.Title = "DockingPlan";
    Layout = "~/Views/Shared/_IPMSLayout.cshtml";

 var dockingplanid = 0;
    var showViewOnLoad = false;
    if (!string.IsNullOrEmpty(ViewBag.ID))
    {
        dockingplanid = Convert.ToInt32(ViewBag.ID);
        showViewOnLoad = true;
    }
}
@section scripts
{
    <script src="~/Scripts/Application/Model/DockingPlanModel.js"></script>
    <script src="~/Scripts/Application/ViewModel/DockingPlanViewModel.js"></script>
    <script src="~/Scripts/Application/ViewModel/WorkflowTaskExecution.js"></script>
}

@section ko_apply
{
   var showOnLoad = false;
    if ("@showViewOnLoad" == "True")
    {
         showOnLoad = true;
    }
   var viewModel = new IPMSROOT.DockingPlanViewModel("@dockingplanid", showOnLoad);
  
   
ko.applyBindingsWithValidation(viewModel, $("#DockingPlan")[0], { insertMessages: false, messagesOnModified: false, grouping: { deep: true }});
}

<div class="row">
    <div class="col-md-12">
        <h3 class="page-title"><span id="spnTitile"></span></h3>
        <ul class="page-breadcrumb breadcrumb"></ul>
    </div>
</div>
<div id="DockingPlan">
    <div data-bind="visible: viewMode() == 'List', template: { name: 'List-template' }"></div>
    <div data-bind="visible: viewMode() == 'Form', template: { name: 'Form-template' }"></div>
    <div data-bind="visible: viewMode() == 'PopUp', template: { name: 'PopUp-template' }"></div>
    



</div>
<div class="clearfix"></div>
<div class="portlet-body">
    <div class="table-toolbar">
        <script type="text/html" id="List-template">
            <div id="tableheader">
         
                <a class="button gbtngreen" data-bind="click: $root.adddockingplan ">Add New <i class="fa fa-plus"></i></a>
           
            </div>
            <div data-bind="kendoGrid: {
            data: DockingPlanList,
            groupable: false,
            sortable: true,
            scrollable: true,
            filterable: { extra: false, operators: { string: { startswith: 'Starts with', eq: 'Is equal to', neq: 'Is not equal to', contains: 'Contains', doesnotcontain: 'Does not Contain' }, number: { eq: 'Is equal to', neq: 'Is not equal to' } } },
            rowTemplate: 'rowTmpl',
            pageable: { pageSize: 5, pageSizes: 5 },
            useKOTemplates: true, columns: [{ field: 'DockingPlanIDSort', title: 'Docking Plan No.', width: '150px', filterable: true }
                       , { field: 'VesselSort', title: 'Vessel Name', width: '140px', filterable: true },
                        { field: 'IMOSort', title: 'IMO', width: '100px', filterable: true },
                       { field: 'VesselTypeSort', title: 'Vessel Type', width: '120px', filterable: true },
                       { field: 'LOASort', title: 'LOA', width: '80px', filterable: true ,type: 'number'},
                       { field: 'BeamSort', title: 'Beam', width: '80px', filterable: true, type: 'number'},
                       { field: 'CountrySort', title: 'Country Of Reg.', width: '140px', filterable: true },
                        { field: 'SubmissionSort', title: 'Submission Date', width: '150px', filterable: true },
                       { title: 'Status', width: '140px', filterable: false }, { title: 'Actions',width: '140px',  filterable: false }]

            }">
            </div>
            <script id="rowTmpl" type="text/html">
                <tr>
                    <td><span data-bind="text: DockingPlanNo"></span></td>
                    <td>
                        <div class="nowrap"><span data-bind="text: VesselName" style="text-transform: capitalize;"></span></div>
                    </td>
                     <td>
                        <div class="nowrap"><span data-bind="text: IMONo"></span></div>
                    </td>
  <td>
                        <div class="nowrap"><span data-bind="text: VesselType"></span></div>
                    </td>
  <td>
                        <div class="nowrap"><span data-bind="text: LengthOverallInM"></span></div>
                    </td>
  <td>
                        <div class="nowrap"><span data-bind="text: BeamInM"></span></div>
                    </td>
  <td>
                        <div class="nowrap"><span data-bind="text: PortOfRegistry"></span></div>
                    </td>
  <td>
                        <div class="nowrap"><span data-bind="text: CreatedDate"></span></div>
                    </td>
                    <td>
                        <div class="nowrap">
                            <span data-bind="text: DockingStatus"></span>
                        </div>
                    </td>
                    <td>
                        <div class="nowrap">
                             @if(Model.HasEditPrivilege){
                            <a href="#" data-bind="click: $parent.editdockingplan, visible:EditPending" title="Edit"><i class="fa fa-edit"></i></a>
                            }
                            @if(Model.HasViewPrivilege){                          
                            <a href="#" data-bind="click: $parent.viewdockingplan" title="View"><i class="fa fa-eye"></i></a>  
                            }
                            <a href="#" data-bind="click: $parent.viewWorkFlow" title="View Workflow"><i class="fa fa-stack-exchange"></i></a>
                            @if (Model.HasDeletePrivilege)
                            {                            
                                <a href="#" data-target="#stack12" data-toggle="modal"  title="Cancel" data-bind="click: $parent.cancelReqst, visible: DockingStatus()=='Cancelled'?false:true"><i class="fa fa-ban"></i></a>
                            }                             
                   </div>
                    </td>
                </tr>
            </script>

@*Cancel Button PoupUP Screen start here*@
 <script type="text/html" id="PopUp-template" >
    <div class="portlet-body" id="popup1" data-bind="with: dockingplanModel">
        <div class="table-toolbar">
            <div id="stack12" class="modal fade" tabindex="-1" data-width="400" data-backdrop="static" data-keyboard="false">
                <a href="#tab_0" data-toggle="tab"></a>
                <div class="modal-dialog" id="stk">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="scroller" style="height: 150px" data-always-visible="1" data-rail-visible1="1">
                                <fieldset>
                                    <legend>Reason For Cancel :</legend>
                                    <form action="#" id="form_sample_1" class="form-horizontal">
                                        <div class="form-group row">

                                            <div class="col-md-5">
                                                <textarea rows="5" data-bind="value: workflowRemarks" style="width: 263px; resize: none;" placeholder="Enter Reason" ></textarea>
                                                &nbsp; &nbsp; <span id="spanremarks" class="validationError"></span>
                                            </div>
                                        </div>
                                    </form>
                                </fieldset>
                            </div>
                        </div>
                        <div class="btns-group ">
                            <input type="button" data-dismiss="modal" value="Submit" data-bind="click: $root.cancelWFRequest"  aria-hidden="true" class="btn green" />
                            <input type="button" data-dismiss="modal" value="Cancel" data-bind="click: $root.CancelButton" aria-hidden="true" class="btn red" />

                        </div>
                        <br>
                        &nbsp;
                    </div>
                </div>
            </div>

        </div>
    </div>
</script>
@*Cancel Button Popup Screen end here*@
          <div class="form-body" data-bind="with: dockingplanModel">
                <div class="form-group">
                    <div id="stack1" class="modal fade" tabindex="-1" data-width="400">
                        <div class="modal-dialog" style="width: 500px;">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <div class="scroller" style="height: 225px" data-always-visible="1" data-rail-visible1="1">
                                        <fieldset>
                                            <legend id="spnTitile1">WorkFlow Remarks</legend>
                                           <div align="center"><textarea rows="3" cols="50" class="form-control"  id="WorkFlowRemarks"  style="width: 350px; height: 180px; text-align: center; margin:  0px 9.5px 0px 0px;resize: none;" data-bind="value: WorkFlowRemarks" disabled=""></textarea></div>
                                       </fieldset>
                                    </div>
                                </div>
                                <br>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </script>
        <script id="customMessageTemplate" type="text/html">
            <span class="validationError" data-bind='validationMessage: field'></span>
        </script>
        <script type="text/html" id="Form-template">
            <div class="portlet portlet-body form">
                <form action="#" id="form_sample_1" class="form-horizontal">
                    <div class="form-wizard" data-bind='validationOptions: { messageTemplate: "customMessageTemplate" }'>
                        <div class="form-body" data-bind="with: dockingplanModel">
                            <div id="divValidationError" class="alert alert-danger display-none">
                                <button class="close" data-dismiss="alert"></button>
                                You have some form errors. Please check below.
                            </div>
                            <div id="divValidationSuccess" class="alert alert-success display-none">
                                <button class="close" data-dismiss="alert"></button>
                                Your form validation is successful!
                            </div>
                            <div class="tab-pane active" id="tab1">
                                <div class="form-group">
                                    <fieldset>
                                        <legend>Docking Plan Details</legend>
<div class="row">
<div class="col-md-6">
<div style="margin-right:5px;">
<fieldset>
<legend>Search Type</legend>
<div class="row">
<div class="form-group" data-bind= "visible: $parent.IsCodeEnable">
                    <label class="control-label col-md-4">Search Type:<span class="required">*</span></label>
                    <div class="col-md-6">
                    <input id="VslSrchOn" name="VslSrchOn" title="VsrchOn"  data-bind="  kendoDropDownList: { data: [{ name: 'Vessel Name', val: 'NM' }, { name: 'IMO No', val: 'IM' }, { name: 'CallSign', val: 'CL' }], value: VslSrchOn, dataTextField: 'name', dataValueField: 'val' }" />
                    </div>
                </div>

</div>
<div class="row">
<div class="form-group">
                                                    <label class="control-label col-md-4">
                                                        Vessel Name:
                                                   <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 ">
                                                        <div class="form-control">
<input id="Vessel232" name="VCN" onblur="VesselNameBlur();"  onkeypress="VesselNameKeypress();" data-bind="kendoAutoComplete: {
    dataTextField: 'VesselName', minLength: 3, pageSize: 1
    , dataSource: {
        serverFiltering: true,
        transport: {
            read: { url: '/api/DockingPlanVessel/', data: { columnName: VslSrchOn } }
        }, schema: {
            data: function (data) { return data; }, total: function (data) {
                return data.length;
            }
        },
    }, select: $root.VesselSelect
}, value: VesselName, enable: $parent.IsCodeEnable" />
                                                           @* <input id="txtVessels" name ="txtVessels" data-bind="kendoAutoComplete: { data: $parent.vesselNameList, dataTextField: 'VesselName', enable: $root.IsCodeEnable, select: $root.VesselSelect, value: VesselName}" />*@
                                                            @*<input id="Vesselname" name="Vesselname" title="Vesselname" data-bind="kendoDropDownList: { data: $parent.vesselNameList, value: VesselID, dataTextField: 'VesselName', dataValueField: 'VesselID', optionLabel: 'Select Vessel', select: $root.VesselSelect,  enable: $parent.IsCodeEnable }" />*@
                                                            <span id="spanvessel" class="validationError" data-bind="validationMessage: VesselName "></span>
                                                        </div>

                                                    </div>
                                                </div>

</div>
</fieldset>
</div>                                            
</div>

<div class="col-md-6">
<div style="margin-right:5px; margin-top:25px;">
<div class="row">
<div class="form-group">
                                                     <div class="form-group">
                                                         <label class="control-label col-md-4">IMO:</label>
                                                         <div class="col-md-6">
                                                             <div class="col-md-6 control-label">
                                                                 <label class="col-md-12 displaytxt" style="text-transform: capitalize;" data-bind="text: IMONo"></label>
                                                             </div>
                                                         </div>
                                                     </div>
                                                 </div>

</div>
<div class="row">
<div class="form-group">
                                                         <div class="form-group">
                                                             <label class="control-label col-md-4">Vessel Type:</label>
                                                             <div class="col-md-6">
                                                                 <div class="control-label">
                                                                     <label class="col-md-12 displaytxt" style="text-transform: capitalize;" data-bind="text: VesselType"></label>
                                                                 </div>
                                                             </div>
                                                         </div>
                                                     </div>
</div>
</div>

</div>
</div>

                                        
                                       
                                         
                                             <div class="row">
                                                 <div class="col-md-6">
                                                     
                                                         <div class="form-group">
                                                             <label class="control-label col-md-4">LOA:</label>
                                                             <div class="col-md-6">
                                                                 <div class="col-md-6 control-label">
                                                                     <label class="col-md-12 displaytxt" style="text-transform: capitalize;" data-bind="text: LengthOverallInM"></label>
                                                                 </div>
                                                             </div>
                                                         </div>
                                                     
                                                 </div>
                                                <div class="col-md-6">
                                                     
                                                         <div class="form-group">
                                                             <label class="control-label col-md-4">GRT:</label>
                                                             <div class="col-md-6">
                                                                 <div class="col-md-6 control-label">
                                                                     <label class="col-md-12 displaytxt" style="text-transform: capitalize;" data-bind="text: VesselGRT"></label>
                                                                 </div>
                                                             </div>
                                                         </div>
                                                     
                                                 </div>
                                             </div>
                                             
                                             <div class="row">
                                                 <div class="col-md-6">
                                                     
                                                         <div class="form-group">
                                                             <label class="control-label col-md-4">Beam:</label>
                                                             <div class="col-md-6">
                                                                 <div class="col-md-6 control-label">
                                                                     <label class="col-md-12 displaytxt" style="text-transform: capitalize;" data-bind="text: BeamInM"></label>
                                                                 </div>
                                                             </div>
                                                         </div>
                                                     
                                                 </div><div class="col-md-6">
                                                     
                                                         <div class="form-group">
                                                             <label class="control-label col-md-4">Country Of Reg.:</label>
                                                             <div class="col-md-6">
                                                                 <div class="col-md-6 control-label">
                                                                     <label class="col-md-12 displaytxt" style="text-transform: capitalize;" data-bind="text: PortOfRegistry"></label>
                                                                 </div>
                                                             </div>
                                                         </div>
                                                    
                                                 </div>
                                                <div class="col-md-6">
                                                     
                                                 </div>
                                             </div>                                             

                                                
                                        <div class="row" data-bind= "visible: $root.IsEditable">
                                            <div class="fileupload-buttonbar">
                                                <div class="form-group">
                                                    <fieldset>
                                                        <legend>Upload Documents</legend>
                                                        <div class="col-md-8">
                                                            <div class="col-md-4">
                                                                <select name="documents" id="selUploadDocs" class="form-control" data-bind="options: $root.DocumentTypes, optionsText: 'SubCatName', optionsValue: 'SubCatCode', value: DocumentTypeCode, optionsCaption: 'Choose....'">
                                                                </select>
                                                            </div>

                                                               
                                                            &nbsp;&nbsp;
                                	<span class="btn btn-xs green fileinput-button">
                                       <i class="fa fa-plus"></i>
                                                <span>
                                                    Browse
                                                </span>
                                        <input type="file" name="files[]" id="DockingplanfileToUpload" data-bind=" enable: $parent.IsEditable" multiple>
                                    </span>
                                                            <button type="submit" data-bind="click: $parent.UploadFile, enable: $parent.IsEditable" class="btn  btn-xs blue start">
                                                                <i class="fa fa-upload" data-bind=" enable: $parent.IsEditable"></i>
                                                                <span>Upload
                                                                </span>
                                                            </button>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                                  <div class="row" data-bind="visible: $parent.isDockingfileToUpload" >
                                      <div class="form-group">
                                        <div class="col-md-2">
                                            &nbsp;&nbsp; <span id="spanDockingfileToUpload" class="validationError" data-bind="visible: $parent.isDockingfileToUpload"></span>
                                            </div>
                                          </div>
                                     </div>

                                              <div class="row">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered table-advance">
                                                    <thead>
                                                        <tr>
                                                            <th class="bg-dark">Document Category</th>
                                                            <th class="bg-dark">Document Name</th>
                                                            <th class="bg-dark"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody data-bind="foreach: DockingPlanDocumentsVO">
                                                        <tr>
                                                            <td data-bind="text: DocumentTypeName"></td>
                                                            <td><a data-bind="text: FileName, attr: { href: '/FileDownload/DownloadFile_Docking/' + DocumentID() }, enable: $parent.IsEditable"></a></td>
                                                           <td class="NeedToHide"><a href="#" class="btn default btn-xs red" data-bind="click: $root.DockingDeleteDocument, visible: $root.IsEditable"><i class="fa fa-trash-o"></i>Delete</a></td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                            <div class="row">
										
											<div class="form-group">
												<label class="control-label col-md-2">Remarks:</label>
												<div class="col-md-8">
													<div class="input-icon">
														<textarea class="form-control" rows="2" id="Remarks" style ="text-transform: capitalize;" maxlength="200" data-bind="value: Remarks, enable: $parent.editableView, event: { keypress: $parent.validationHelper.ValidateAlphabetsWithSpaces_keypressEvent} "></textarea>
													</div>
												</div>
											</div>
										                                     

									</div>
                                        
                                        <br>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="btns-group form-actions fluid" data-bind="loadingWhen: $parent.viewModelHelper.isLoading">
                                <button type="submit" id="Save" class="btn green" value="POST VAL"
                                    data-bind="click: $parent.SaveDockingPlan, visible: $parent.IsSave, disable: $parent.IsSaveUpdateDisabled">
                                    Save</button>
                                <button type="submit" class="btn green" data-bind="click: $parent.ModifyDockingPlan, visible: $parent.IsUpdate, disable: $parent.IsSaveUpdateDisabled">Update</button>
                                <button type="submit" class="btn blue" data-bind="click: $parent.ResetDockingPlan, visible: $parent.IsReset ">Reset</button>
                                <button type="submit" class="btn red" data-bind="click: $parent.Cancel">Cancel</button>
                            </div>
                            <div class="form-group">
                                <div class="form-actions fluid">
                                    @{Html.RenderPartial(Url.Content("~/Views/Shared/PendingTaskView.cshtml"));}

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </script>
    </div>
</div>
