@{
   
    Layout = "~/Views/Shared/_IPMSLayout.cshtml";
}
    @*<div style=" text-align: center; margin-top: -35px; margin-left: -28px;">
    <img src="~/Content/Images/ipms.jpg" width="100%">                                                
    </div>*@


<div style="padding-top: 5px; text-align: center;">
<h1 style="padding-left: 271px;color: #00b0ff;text-align: left;"><i>Welcome to IPMS</i>
</h1>
<div style="padding-left:280px; text-align:left;"><img style=" margin: 0px; padding: 0px; border: none; width: 70%;  top: 80px;"  src="~/Content/Images/ipms.jpg">
</div></div>



