@model IPMS.Domain.ValueObjects.PrivilegeVO

@{    
    ViewBag.Title = "ServiceType";
    Layout = "~/Views/Shared/_IPMSLayout.cshtml";
}
@section scripts
{
    <script src="~/Scripts/Application/Model/ServiceTypeModel.js"></script>
    <script src="~/Scripts/Application/ViewModel/ServiceTypeViewModel.js"></script>
}

@section ko_apply
{
var viewModel = new IPMSROOT.ServiceTypeViewModel();   
ko.applyBindingsWithValidation(viewModel, $("#ServiceType")[0], { insertMessages: false, messagesOnModified: false, grouping: { deep: true }});
}

<!-- BEGIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <h3 class="page-title"><span id="spnTitile"></span></h3>
        <ul class="page-breadcrumb breadcrumb"></ul>
    </div>
</div>
<div id="ServiceType">
    <div data-bind="visible: viewMode() == 'List', template: { name: 'List-template' }"></div>
    <div data-bind="visible: viewMode() == 'Form', template: { name: 'Form-template' }"></div>
</div>
<div class="clearfix"></div>
<script type="text/html" id="List-template">
    <div data-bind="loadingWhen: $root.viewModelHelper.isLoading">
        <div id="tableheader">
            @if (Model.HasAddPrivilege)
            {
                <a class="button gbtngreen" data-bind="click: $root.addServiceType ">Add New <i class="fa fa-plus"></i></a>
            }
        </div>
        <div data-bind="kendoGrid: {
    data: ServiceTypeList,
    groupable: false,
    sortable: true,
    scrollable: true,
    filterable: { extra: false, operators: { string: { startswith: 'Starts with', eq: 'Is equal to', neq: 'Is not equal to' } } },
    rowTemplate: 'rowTmpl',
    pageable: { pageSize: 5, pageSizes: 5 },
    useKOTemplates: true,
    columns: [{ field: 'ServiceTypeCodeSort', title: 'Service Type Code', width: '80', filterable: true },
        { field: 'ServiceTypeNameSort', title: 'Service Type Name', width: '80', filterable: true },
        { title: 'Is Craft', width: '80', filterable: false },
        { title: 'Status', width: '80', filterable: false },
        { title: 'Actions', filterable: false }]
}">
        </div>
        <script id="rowTmpl" type="text/html">
            <tr>
                <td>
                    <div class="nowrap"><span data-bind="text: ServiceTypeCode"></span></div>
                </td>
                <td>
                    <div class="nowrap"><span data-bind="text: ServiceTypeName"></span></div>
                </td>
                <td>
                    <div class="nowrap"><span data-bind="text: IsCraftStatus"></span></div>
                </td>
                <td>
                    <div class="nowrap"><span data-bind="text: Statust"></span></div>
                </td>
                <td>
                    <div class="nowrap">
                        @if (Model.HasViewPrivilege)
                        {
                            <a href="#" data-bind="click: $parent.viewServiceType" title="View"><i class="fa fa-eye"></i></a>
                        }&nbsp;&nbsp;
                        @if (Model.HasEditPrivilege)
                        {
                            <a href="#" data-bind="click: $parent.editServiceType" title="Edit"><i class="fa fa-edit"></i></a>
                        }
                    </div>
                </td>
            </tr>
        </script>
    </div>
</script>
<script id="customMessageTemplate" type="text/html">
    <span class="validationError" data-bind="validationMessage: field"></span>
</script>
<script type="text/html" id="Form-template">
    <div class="portlet portlet-body form" data-bind="loadingWhen: $root.viewModelHelper.isLoading">
        <form action="#" id="form_sample_1" class="form-horizontal">
            <div class="form-wizard" data-bind='validationOptions: { messageTemplate: "customMessageTemplate" }'>
                <div class="form-body" data-bind="with: serviceTypeModel">
                    <div class="tab-pane active" id="tab1">
                        <div class="form-group">
                            <fieldset>
                                <legend>Service Type Details</legend>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">
                                                Service Type Code:<span class="required">*</span>
                                            </label>
                                            <div class="col-md-6">
                                                <input type="text" id="ServiceTypeCode" name="name" maxlength="4" data-required="1" class="form-control" data-bind="value: ServiceTypeCode, enable: $root.IsCodeEnable, event: { keyup: HandleServiceTypeCodeKeyUp, keypress: $parent.validationHelper.ValidateAlphaNumericWithSpaces }">
                                                <span id="spanServiceTypeCode" class="validationError" data-bind="visible: $parent.UniqueCodeVisible">This service type code is already exists</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">
                                                Service Type Name:<span class="required">*</span>
                                            </label>
                                            <div class="col-md-6">
                                                <input type="text" id="ServiceTypeName" name="name" maxlength="50" data-required="1" class="form-control" data-bind="value: ServiceTypeName, enable: $parent.IsCodeEnable, event: { keyup: HandleServiceTypeNameKeyUp, keypress: $parent.validationHelper.ValidateAlphaNumericWithSpaces }">
                                                <span id="spanServiceTypeName" class="validationError" data-bind="visible: $parent.UniqueNameVisible">This service type name is already exists</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">
                                                Is Craft:<span class="required"></span>
                                            </label>
                                            <div class="col-md-6">
                                                <input id="IsCraft" name="IsCraft" data-bind="kendoDropDownList: { data: [{ name: 'Yes', val: 'true' }, { name: 'No', val: 'false' }], value: IsCraft, dataTextField: 'name', dataValueField: 'val', enabled: $parent.editableView } "/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">
                                                Status:<span class="required"></span>
                                            </label>
                                            <div class="col-md-6">
                                                <input id="Status" name="status" data-bind="kendoDropDownList: { data: [{ name: 'Active', val: 'A' }, { name: 'Inactive', val: 'I' }], value: RecordStatus, dataTextField: 'name', dataValueField: 'val', enabled: $parent.editableView } " />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                </div>
                                <br />
                            </fieldset>
                        </div>
                    </div>
                    <div class="btns-group form-actions fluid">
                        <button type="submit" id="Save" class="btn green" value="POST VAL" data-bind="click: $parent.SaveServiceType, visible: $parent.IsSave, disable: $parent.IsSaveUpdateDisabled">Save</button>
                        <button type="submit" class="btn green" data-bind="click: $parent.ModifyServiceType, visible: $parent.IsUpdate, disable: $parent.IsSaveUpdateDisabled">Update</button>
                        <button type="submit" class="btn blue" data-bind="click: $parent.ResetServiceType, visible: $parent.IsReset ">Reset</button>
                        <button type="button" class="btn red" data-bind="click: $parent.Cancel">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</script>
