<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="XML2SMSServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="XML2SMSServiceSoap1" />
        <binding name="XML2SMSServiceSoap2">
          <security mode="Transport" />
        </binding>
        <binding name="XML2SMSServiceSoap3" />
        <binding name="XML2SMSServiceSoap4">
          <security mode="Transport" />
        </binding>
        <binding name="XML2SMSServiceSoap5" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://soap.gsm.co.za/xml2sms.asmx" binding="basicHttpBinding"
        bindingConfiguration="XML2SMSServiceSoap" contract="SendSMS.XML2SMSServiceSoap"
        name="XML2SMSServiceSoap" />
      <endpoint address="https://soap.gsm.co.za/xml2sms.asmx" binding="basicHttpBinding"
        bindingConfiguration="XML2SMSServiceSoap2" contract="xml2sms.XML2SMSServiceSoap"
        name="XML2SMSServiceSoap1" />
      <endpoint address="https://soap.gsm.co.za/xml2sms.asmx" binding="basicHttpBinding"
        bindingConfiguration="XML2SMSServiceSoap4" contract="xml2sms.XML2SMSServiceSoap"
        name="XML2SMSServiceSoap2" />
    </client>
  </system.serviceModel>
</configuration>