<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <!--<add name="TnpaContext" connectionString="Data Source=NIT477;Initial Catalog=IPMSDEV;User ID=appl;Password=appl;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="TnpaContext" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=IPMSQA;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <add name="TnpaContext" connectionString="Data Source=49.50.68.172,3377;Initial Catalog=IPMSQA;User ID=Echo;Password=Nav@#s@!#001*!;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>

  <log4net>
    <appender name="AdoNetAppender_SqlServer" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1"/>
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <add name="TnpaContext" connectionString="Data Source=nit477;Initial Catalog=IPMSDEV;User ID=appl;Password=appl;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
      <!--<connectionString value="Data Source=(LocalDb)\v11.0;Initial Catalog=IPMSQA;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message,  @exception)"/>
      <parameter>
        <parameterName value="@log_date"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.PatternLayout" value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}"/>
      </parameter>
      <parameter>
        <parameterName value="@thread"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout" value="%thread"/>
      </parameter>
      <parameter>
        <parameterName value="@log_level"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout" value="%level"/>
      </parameter>
      <parameter>
        <parameterName value="@logger"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout" value="%logger"/>
      </parameter>
      <parameter>
        <parameterName value="@message"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.PatternLayout" value="%message"/>
      </parameter>
      <parameter>
        <parameterName value="@exception"/>
        <dbType value="String"/>
        <size value="2000"/>
        <layout type="log4net.Layout.ExceptionLayout"/>
      </parameter>
    </appender>
    <root>
      <level value="All"/>
      <appender-ref ref="AdoNetAppender_SqlServer"/>
    </root>
    <logger name="DBLogger">
      <appender-ref ref="AdoNetAppender_SqlServer"/>
    </logger>
  </log4net>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <appSettings>
    <!-- EMail Setting-->
    <!--<add key="FromAddress" value="ipmsadmin@navayugainfotech.com"/>
    <add key="SmtpClient" value="207.58.190.19"/>
    <add key="UserID" value="ipmsadmin@navayugainfotech.com"/>
    <add key="Password" value=""/>
    <add key="SMTPPort" value="25"/>
    <add key="EnableSSL" value="No"/>-->
    <add key="FromAddress" value="tfsadmin@navayuga.co.in" />
    <add key="SmtpClient" value="207.244.65.199" />
    <add key="UserID" value="cargo-admin@portkonnect.com" />
    <add key="Password" value="Cargo@321$" />
    <add key="SMTPPort" value="26" />
    <add key="EnableSSL" value="No" />
    <add key="NotificationInterval" value="2000"/>

    <!-- End EMail Setting-->

    <!-- SMS Setting-->

    <add key="SMSUID" value="nagesh2012"/>
    <add key="SMSPWD" value=""/>
    <add key="SENDERID" value="AAIBIL"/>
    <add key="SERVICE" value="http://api.smscountry.com/SMSCwebservice_bulk.aspx?"/>
    <add key="DOMAIN" value="NIT"/>
    <!-- End SMS Setting-->

    <!-- Password Encrypt Security Key Setting-->
    <add key="SecurityKey" value="Navayuga"/>
    <!-- End Password Encrypt Security Key Setting-->

  </appSettings>

  <system.net>
    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ITwoWayAsync" receiveTimeout="00:20:00" sendTimeout="00:20:00" transactionFlow="true" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483646" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
        <binding name="WSHttpBinding_ITwoWayAsync1"/>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://nitsez7.nit.ad/SAPInvoice/BiztalkInvoiceService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsync" contract="InvoiceServiceReference.BiztalkInvoiceService" name="WSHttpBinding_ITwoWayAsync">
        <identity>
          <servicePrincipalName value="host/NITSEZ7.nit.ad"/>
        </identity>
      </endpoint>
      <endpoint address="http://nitsez7.nit.ad/SAPMarine/BiztalkMarineService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsync" contract="MarineOrderServiceReference.BiztalkMarineService" name="WSHttpBinding_ITwoWayAsync">
        <identity>
          <servicePrincipalName value="host/NITSEZ7.nit.ad"/>
        </identity>
      </endpoint>
      <endpoint address="http://nitsez7.nit.ad/SAPArrival/BiztalkArrivalService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsync" contract="VesselArrivalServiceReference.BiztalkArrivalService" name="WSHttpBinding_ITwoWayAsync">
        <identity>
          <servicePrincipalName value="host/NITSEZ7.nit.ad"/>
        </identity>
      </endpoint>
      <endpoint address="http://nitsez7.nit.ad/SAPVesselCreate/BiztalkVesselCreateService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsync" contract="VesselCreateServiceReference.BiztalkVesselCreateService" name="WSHttpBinding_ITwoWayAsync">
        <identity>
          <servicePrincipalName value="host/NITSEZ7.nit.ad"/>
        </identity>
      </endpoint>
    </client>

  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
