@model IPMS.Domain.ValueObjects.PrivilegeVO

@{   
    ViewBag.Title = "Quays";
    Layout = "~/Views/Shared/_IPMSLayout.cshtml";
}
@section scripts
{
    <script src="~/Scripts/Application/Model/QuayModel.js"></script>
    <script src="~/Scripts/Application/ViewModel/QuayViewModel.js"></script>
}
@section ko_apply
{

var viewModel = new IPMSROOT.QuayViewModel();  
ko.applyBindingsWithValidation(viewModel, $("#QuayMaster")[0], { insertMessages: false, messagesOnModified: false, grouping: { deep: true }});
}
<!-- BEGIN CONTENT -->

<div class="row">
    <div class="col-md-12">
        <h3 class="page-title"><span id="spnTitile"></span></h3>
        <ul class="page-breadcrumb breadcrumb"></ul>
    </div>
</div>
<div id="QuayMaster">
    <div data-bind="visible: viewMode() == 'List', template: { name: 'List-template' }"></div>
    <div data-bind="visible: viewMode() == 'Form', template: { name: 'Form-template' }"></div>
</div>
<div class="clearfix"></div>
<div class="portlet-body">
    <div class="table-toolbar">
        <script type="text/html" id="List-template">
            <div data-bind="loadingWhen: $root.viewModelHelper.isLoading">
                <div id="tableheader">
                    @if (Model.HasAddPrivilege)
                    {
                        <a class="button gbtngreen" data-bind="click: $root.addquay ">Add New <i class="fa fa-plus"></i></a>
                    }
                </div>
                <div data-bind="kendoGrid: {
    data: QuayList,
    groupable: false,
    sortable: true,
    scrollable: true,
    filterable: {
        extra: false, operators: {
            string: {
                startswith: 'Starts with',
                eq: 'Is equal to',
                neq: 'Is not equal to'
            },
            number: { eq: 'Is equal to' }
        }
    },
    rowTemplate: 'rowTmpl',
    pageable: { pageSize: 5, pageSizes: 5 },
    useKOTemplates: true,
    columns: [{ field: 'QuayCodeSort', title: 'Quay Code', width: '80', filterable: true },
        { field: 'QuayNameSort', title: 'Quay Name', width: '80', filterable: true },
        { field: 'QuayLengthSort', title: 'Quay Length', width: '80', filterable: true, type: 'number' },
        { field: 'PortNameSort', title: 'Port Name', width: '80', filterable: true },
        { field: 'ShortNameSort', title: 'Short Name', width: '80', filterable: true },
        { title: 'Status', filterable: false }, { title: 'Actions', filterable: false }]
}">
                </div>
                <script id="rowTmpl" type="text/html">
                    <tr>
                        <td>
                            <span data-bind="text: QuayCode"></span>
                        </td>
                        <td>
                            <div class="nowrap"><span data-bind="text: QuayName"></span></div>
                        </td>
                        <td>
                            <span data-bind="text: QuayLength"></span>
                        </td>
                        <td>
                            <div class="nowrap"><span data-bind="text: PortName"></span></div>
                        </td>
                        <td>
                            <div class="nowrap"><span data-bind="text: ShortName"></span></div>
                        </td>
                        <td>
                            <div class="nowrap"><span data-bind="text: Statust"></span></div>
                        </td>
                        <td>
                            <div class="nowrap">
                                @if (Model.HasEditPrivilege)
                                {
                                    <a href="#" data-bind="click: $parent.editquay" title="Edit"><i class="fa fa-edit"></i></a>
                                }
                                @if (Model.HasViewPrivilege)
                                {
                                    <a href="#" data-bind="click: $parent.viewquay" title="View"><i class="fa fa-eye"></i></a>
                                }
                                &nbsp; &nbsp;
                            </div>
                        </td>
                    </tr>
                </script>
            </div>
        </script>

        <script id="customMessageTemplate" type="text/html">
            <span class="validationError" data-bind='validationMessage: field'></span>
        </script>

        <script type="text/html" id="Form-template">
            <div class="portlet portlet-body form">
                <form action="#" id="form_sample_1" class="form-horizontal">
                    <div data-bind="loadingWhen: $root.viewModelHelper.isLoading">
                        <div class="form-wizard" data-bind='validationOptions: { messageTemplate: "customMessageTemplate" }'>
                            <div class="form-body" data-bind="with: quayModel">
                                <div class="tab-pane active" id="tab1">
                                    <div class="form-group">
                                        <fieldset>
                                            <legend>Quay Details</legend>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-6">
                                                            Quay Code:<span class="required">*</span>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input type="text" id="Quaycode" name="code" maxlength="4" autofocus="autofocus" class="form-control" data-bind="value: QuayCode, enable: $parent.IsCodeEnable, event: { keyup: HandleQuayCodeKeyUp, keypress: $parent.validationHelper.ValidateAlphaNumeric } ">
                                                            <span id="spanquaycode" class="validationError" data-bind="visible: $parent.UniqueCodeVisible">This Quay Code already exists</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-6">
                                                            Port Name:<span class="required">*</span>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input data-bind="kendoDropDownList: { data: $parent.PortList, value: PortCode, dataTextField: 'PortName', dataValueField: 'PortCode', enabled: $parent.IsCodeEnable, optionLabel: 'Select...' }" />
                                                            <span id="spanportid" class="validationError" data-bind="validationMessage: PortCode"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-6">
                                                            Quay Name:<span class="required">*</span>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input type="text" id="Quayname" name="name" maxlength="20" data-required="1" class="form-control" data-bind="value: QuayName, enable: $parent.editableView, event: { keyup: HandleQuayNameKeyUp, keypress: $parent.validationHelper.ValidateAlphaNumericWithSpaces }">
                                                            <span id="spanquayname" class="validationError" data-bind="visible: $parent.UniqueNameVisible">This Quay Name already exists</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-6">
                                                            Short Name:<span class="required">*</span>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input id="shortname" class="form-control" name="geoloc" maxlength="10" data-bind="value: ShortName, enable: $parent.editableView, event: { keyup: HandleQuayShortNameKeyUp, keypress: $parent.validationHelper.ValidateAlphaNumeric } ">
                                                            <span id="spanshortname" class="validationError" data-bind="visible: $parent.UniqueShortNameVisible">This Short Name already exists</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-6">
                                                            Quay Length:<span class="required">*</span>
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input id="quaylength" class="form-control" name="intcharacter" maxlength="8" data-bind="value: QuayLength, enable: $parent.editableView, event: { keypress: $parent.validationHelper.ValidateNumeric } ">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-6">Description:</label>
                                                        <div class="col-md-6">
                                                            <div class="input-icon">
                                                                <textarea class="form-control" rows="2" maxlength="100" data-bind="value: Description, enable: $parent.editableView, event: { keypress: $parent.validationHelper.ValidateAlphanumeric }  "></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-6">
                                                            Status:
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input id="Status" name="status" data-bind="kendoDropDownList: { data: [{ name: 'Active', val: 'A' }, { name: 'Inactive', val: 'I' }], value: RecordStatus, dataTextField: 'name', dataValueField: 'val', enabled: $parent.editableView }" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="btns-group form-actions fluid" data-bind="loadingWhen: $parent.viewModelHelper.isLoading">
                                    <button type="submit" id="Save" class="btn green" value="POST VAL" data-bind="click: $parent.SaveQuay, visible: $parent.IsSave, disable: $parent.IsSaveUpdateDisabled">Save</button>
                                    <button type="submit" class="btn green" data-bind="click: $parent.ModifyQuay, visible: $parent.IsUpdate, disable: $parent.IsSaveUpdateDisabled">Update</button>
                                    <button type="submit" class="btn blue" data-bind="click: $parent.ResetQuay, visible: $parent.IsReset ">Reset</button>
                                    <button type="submit" class="btn red" data-bind="click: $parent.Cancel">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </script>
    </div>
</div>

