@model IPMS.Domain.ValueObjects.PrivilegeVO
@{   
    Layout = "~/Views/Shared/_IPMSLayout.cshtml";
}

@section scripts
{
    <script src="~/Scripts/Application/Model/SuppHotWorkInspectionModel.js"></script>
    <script src="~/Scripts/Application/ViewModel/SuppHotWorkInspectionViewModel.js"></script>
    <script src="~/Scripts/Lib/jspdf.min.js"></script>
}
@section ko_apply
{
var viewModel = new IPMSROOT.SuppHotWorkInspectionViewModel();  
ko.applyBindingsWithValidation(viewModel, $("#SuppHotWorkInspection")[0], { insertMessages: false, messagesOnModified: false, grouping: { deep: true }});
}

<style>
    .hide-print {
        display: none;
    }

    @@media print {
        fieldset .col-md-6 .form-group .k-datetimepicker .k-picker-wrap {
            width: 250px !important;
        }

        fieldset .col-md-10 {
            width: 600px !important;
        }

        .width1 {
            width: 250px !important;
        }
        /*.col-md-5  fieldset {width:650px !important;}*/

        fieldset .col-md-7 label, fieldset .col-md-4 label, fieldset .col-md-5 label {
            text-align: left !important;
        }

        .displaytxt, .left-align {
            text-align: left !important;
        }

        .topmargin {
            margin-top: 5px !important;
        }

        .hide-row {
            display: none !important;
        }

        .main-title1, .hide-print {
            display: -webkit-box !important;
        }

        .hide-print1 {
            display: block !important;
        }

        .widthc {
            width: 250px;
        }

        .k-select {
            display: none !important;
        }

        .lheight {
            line-height: 26px !important;
        }

        textarea {
            width: 600px !important;
        }
    }
</style>

<!-- BEGIN CONTENT -->

<div class="row">
    <div class="col-md-12">
        <h3 class="page-title"><span id="spnTitile"></span></h3>
        <ul class="page-breadcrumb breadcrumb"></ul>
    </div>
</div>

<!-- Main body content starts here for developers-->

<div id="SuppHotWorkInspection">
    <div data-bind="visible: viewMode() == 'List', template: { name: 'SuppHotWorkInspectionList-template' }"></div>
    <div data-bind="visible: viewMode() == 'Form', template: { name: 'SuppHotWorkInspectionForm-template' }"></div>
</div>
<div class="clearfix"></div>

<!-- Grid / List Starts here -->
<script type="text/html" id="SuppHotWorkInspectionList-template">
    <div class="portlet-body" data-bind="loadingWhen: $root.viewModelHelper.isLoading">
        <div class="table-toolbar">
            <div id="tablewrapper15">
                @*<div id="tableheader">
                    <a class="button gbtngreen" data-bind="click: $root.addSuppHotWorkInspection">Add New <i class="fa fa-plus"></i></a>
                </div>*@
                <div data-bind="kendoGrid: {
    data: SuppHotWorkInspectionList,
    groupable: false,
    sortable: true,
    scrollable: true,
    filterable: { extra: false, operators: { string: { startswith: 'Starts with', eq: 'Is equal to', neq: 'Is not equal to', contains: 'Contains', doesnotcontain: 'Does not Contain' } } },
    rowTemplate: 'rowTmpl',
    pageable: { pageSize: 5, pageSizes: 5 },
    useKOTemplates: true,
    columns: [{ field: 'VCNSort', title: 'VCN', filterable: true, width: '120px' },
              { field: 'ServiceTypeSort', title: 'Service Type', filterable: true, width: '200px' },
              { field: 'VesselNameSort', title: 'Name of Vessel', filterable: true, width: '150px' },
              { field: 'RequestDtAndTimeSort', title: 'Request Date', filterable: true, width: '160px' },
              { field: 'RequestDtAndTimeSort', title: 'Request From', filterable: true, width: '160px' },
              { field: 'ToDate', title: 'Request To', filterable: true, width: '160px' },
              { field: 'LocationName', title: 'Location', filterable: true, width: '150px' },
              { title: 'DG Status', width: '100px' },
              { field: 'permitnoSort', title: 'Permit No.', filterable: true, width: '150px' },
              { title: 'PermitStatusSort', title: 'Permit Status', filterable: false, width: '100px' },
              { title: 'Actions', filterable: false, width: '150px' }]
}">
                </div>

                <script id="rowTmpl" type="text/html">
                    <tr>
                        <td data-bind="style: { backgroundColor: (AnyDangerousGoodsonBoard() == 'A') ? '#FA370E' : '' }">
                            <div class="nowrap">
                                <span data-bind="text: VCN"></span>
                            </div>
                        </td>
                        <td>
                            <div class="nowrap">
                                <span data-bind="text: ServiceTypeName "></span>
                            </div>
                        </td>
                        <td>
                            <div class="nowrap">
                                <span data-bind="text: VesselName"></span>
                            </div>
                        </td>
                        <td>
                            <div class="nowrap">
                                <span data-bind="text: moment(FromDate()).format('YYYY-MM-DD HH:mm')"></span>
                            </div>
                        </td>
                        <td>
                            <div class="nowrap">
                                <span data-bind="text: moment(FromDate()).format('YYYY-MM-DD HH:mm') "></span>
                            </div>
                        </td>
                        <td>
                            <div class="nowrap">
                                <span data-bind="text: moment(ToDate()).format('YYYY-MM-DD HH:mm')"></span>
                            </div>
                        </td>
                        <td>
                            <div class="nowrap">
                                <span data-bind="text: LocationName"></span>
                            </div>
                        </td>
                        <td>
                            <div class="nowrap">
                                <span data-bind="text: AnyDangerousGoodsonBoardt"></span>
                            </div>
                        </td>
                        <td>
                            <div class="nowrap">
                               @* <span data-bind="text: HWPNText"></span>*@
                               <span data-bind="text: HWPN"></span>
                            </div>
                        </td>
                        <td>
                            <div class="nowrap">
                                <span data-bind="text: PermitStatust"></span>
                            </div>
                        </td>
                         
                        <td>
                            <div class="nowrap">
                                @if (Model.HasEditPrivilege)
                                {
                                    <a href="#" data-bind="click: $parent.editSuppHotWorkInspection, visible:((PermitStatust() != 'Verified')||(value() !='Y')) ? true : false" title="Edit"><i class="fa fa-edit"></i></a>
                                }
                                @if (Model.HasViewPrivilege)
                                {
                                    <a href="#" data-bind="click: $parent.viewSuppHotWorkInspection" title="View"><i class="fa fa-eye"></i></a>}
      
                        @if (Model.HasEditPrivilege)
                        {
                            <a href="#" data-bind="click: $parent.verifyEditSuppHotWorkInspection, visible: ((PermitStatust() !='Verified')||(value() !='Y'))?true:false" title="Verify"><i class="fa fa-WFVE"></i></a>
                        }     
                   
                            </div>
                        </td>
                    </tr>
                </script>
            </div>
        </div>
    </div>
</script>
<!-- Grid / List Endss here -->

<!-- Form / Details Starts here -->
<script id="customMessageTemplate" type="text/html">
    <span class="validationError" data-bind='validationMessage: field'></span>
</script>

<script type="text/html" id="SuppHotWorkInspectionForm-template">

<div class="portlet portlet-body form" data-bind="loadingWhen: $root.viewModelHelper.isLoading">
<form action="#" class="form-horizontal" id="submit_form">
<div class="form-wizard" data-bind='validationOptions: { messageTemplate: "customMessageTemplate" }'>
<div class="form-body" data-bind="with: SuppHotWorkInspectionModel">
<div class="form-group" id="divReqdtls">
<div data-bind="with: SuppHotWorkInspectionVO">
    <h6>
        <label>Permit No:</label>
        <label id="idHWPN" data-bind="text: HWPN"></label>
    </h6>
</div>
<fieldset>
<fieldset>
    <legend>VCN Details</legend>
    <div class="row" data-bind="with: VesselData">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label col-md-6">VCN:</label>
                <div>
                    <label id="PrintVCN" class="control-label displaytxt" data-bind="text: VCN"></label>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label col-md-6">Vessel Name:</label>
                <div>
                    <label id="PrintVesselName" class="control-label displaytxt" data-bind="text: VesselName "></label>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label col-md-6">Current Berth:</label>
                <div>
                    @* data-bind="with: VesselData" <label class="control-label displaytxt"  data-bind="text: BerthName "></label>*@
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label col-md-6">Service Request:</label>

                <label id="PrintServiceRequest" class="control-label displaytxt" data-bind="text: ServiceTypeName "></label>

            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label col-md-6">Request Date:</label>
                <div>
                    <label id="PrintRequestDate" class="control-label displaytxt" data-bind="text: moment(FromDate()).format('YYYY-MM-DD HH:mm')"></label>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label col-md-6">Service Requested at Berth:</label>
                <div>
                    <label id="PrintBerthName" class="control-label displaytxt" data-bind="text: BerthName "></label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label col-md-6">Location:</label>
                <div data-bind="with: SuppHotColdWorkPermitsVO">
                    <label id="PrintLocationName" class="control-label displaytxt" data-bind="text: LocationName "></label>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label col-md-6">Request From:</label>

                <label id="PrintFromDate" class="control-label displaytxt" data-bind="text: moment(FromDate()).format('YYYY-MM-DD HH:mm')"></label>

            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label col-md-6">Request To:</label>

                <label id="PrintToDate" class="control-label displaytxt" data-bind="text: moment(ToDate()).format('YYYY-MM-DD HH:mm')"></label>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label col-md-6">Gas Free Certificate Issuing Authority :</label>
                <div data-bind="with: SuppHotColdWorkPermitsVO">
                    <label id="PrintGassFreeIssuingAuthority" class="control-label displaytxt" data-bind="text: GassFreeIssuingAuthority "></label>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label col-md-6">Gas Free Certificate Available:</label>
                <div data-bind="with: SuppHotColdWorkPermitsVO">
                    <label id="PrintGassCertificateAvailable" class="control-label displaytxt" data-bind="text: GassCertificateAvailable "></label>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label col-md-6">Gas Free Certificate Validity:</label>
                <div data-bind="with: SuppHotColdWorkPermitsVO">
                    <label id="PrintGassFreeCertificateValidity" class="control-label displaytxt" data-bind="text: GassFreeCertificateValidity"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label col-md-6">Dangerous Goods Status:</label>
                <div class="col-md-6 control-label">
                    <label id="PrintAnyDangerousGoodsonBoardt" class="col-md-6 displaytxt" data-bind="text: AnyDangerousGoodsonBoardt "></label>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label col-md-6">Class:</label>
                <div class="col-md-6 control-label">
                    <label id="PrintDangerousGoodsClass" class="col-md-6 displaytxt" data-bind="text: DangerousGoodsClass "></label>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label col-md-6">UN No.:</label>
                <div class="col-md-6 control-label">
                    <label id="PrintUNNo" class="col-md-6 displaytxt" data-bind="text: UNNo "></label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <p>&nbsp;</p>
    </div>
</fieldset>
<fieldset data-bind="with: SuppHotColdWorkPermitsVO">
    <legend>Uploaded Documents</legend>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tbody data-bind="foreach: SuppHotColdWorkPermitDocumentsVO">
                <tr>
                    <td>
                        <a data-bind="  text: FileName, attr: { href: '/FileDownload/Download/' + DocumentID() }, enable: $parent.IsEditable"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</fieldset>

<fieldset data-bind="with: SuppHotWorkInspectionVO">
<legend>Inspection Details</legend>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-md-10">
                The Person Conducting the hot work is familiar with the emergency evacuation procedures:
            </label>
            <div class="col-md-2">
                <div class="radio-list">
                    <input type="radio" class="hide-row" name="EmergencyProcedure" value="Y" checked="checked" data-bind="checked: EmergencyProcedure, enable: $root.editableView">
                    <label class="radio-inline">Yes</label>
                    <input name="EmergencyProcedure" class="hide-row" type="radio" value="N" data-bind="checked: EmergencyProcedure, enable: $root.editableView">
                    <label class="radio-inline hide-row">No</label>
                    <span id="spanEmergencyProcedure" class="validationError"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-md-10">
                Is the hot work area and surrounding area free of any combustibles - 10 meters minimum (Fire Risk Assessment):
            </label>
            <div class="col-md-2">
                <div class="radio-list">
                    <input type="radio" class="hide-row" name="FireRiskAssessment" value="Y" checked="checked" data-bind="checked: FireRiskAssessment, enable: $root.editableView">
                    <label class="radio-inline">Yes</label>
                    <input name="FireRiskAssessment" class="hide-row" type="radio" value="N" data-bind="checked: FireRiskAssessment, enable: $root.editableView">
                    <label class="radio-inline hide-row">No</label>
                    <span id="spanFireRiskAssessment" class="validationError"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-md-10">
                Has the hot work area been tested for flammable gases:
            </label>
            <div class="col-md-2">
                <div class="radio-list">
                    <input type="radio" class="hide-row" name="FlammableGases" value="Y" checked="checked" data-bind="checked: FlammableGases, enable: $root.editableView">
                    <label class="radio-inline">Yes</label>
                    <input class="hide-row" name="FlammableGases" type="radio" value="N" data-bind="checked: FlammableGases, enable: $root.editableView">
                    <label class="radio-inline hide-row">No</label>
                    <span id="spanFlammableGases" class="validationError"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-md-10">
                Is continuous gas monitoring required and agree upon:
            </label>
            <div class="col-md-2">
                <div class="radio-list">
                    <input class="hide-row" type="radio" name="GasMonitoring" value="Y" checked="checked" data-bind="checked: GasMonitoring, enable: $root.editableView">
                    <label class="radio-inline">Yes</label>
                    <input class="hide-row" name="GasMonitoring" type="radio" value="N" data-bind="checked: GasMonitoring, enable: $root.editableView">
                    <label class="radio-inline hide-row">No</label>
                    <span id="spanGasMonitoring" class="validationError"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class=" col-md-10">
                Have smoke/fire detectors been disabled locally:
            </label>
            <div class="col-md-2">
                <div class="radio-list">
                    <input type="radio" class="hide-row" name="FireDetectors" value="Y" checked="checked" data-bind="checked: FireDetectors, enable: $root.editableView">
                    <label class="radio-inline">Yes</label>
                    <input name="FireDetectors" class="hide-row" type="radio" value="N" data-bind="checked: FireDetectors, enable: $root.editableView">
                    <label class="radio-inline hide-row">No</label>
                    <span id="spanFireDetectors" class="validationError"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class=" col-md-10">
                Hot Work equipment is in good condition (Oxygen/Acetylene Cylinders, Hoses, Arc welding equipment/cables):
            </label>
            <div class="col-md-2">
                <div class="radio-list">
                    <input type="radio" class="hide-row" name="EquipmentCondition" value="Y" checked="checked" data-bind="checked: EquipmentCondition, enable: $root.editableView">
                    <label class="radio-inline">Yes</label>
                    <input name="EquipmentCondition" class="hide-row" type="radio" value="N" data-bind="checked: EquipmentCondition, enable: $root.editableView">
                    <label class="radio-inline hide-row">No</label>
                    <span id="spanEquipmentCondition" class="validationError"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class=" col-md-10">
                Arc welding area dry (no water) and insulated mat used when working with conductive metals:
            </label>
            <div class="col-md-2">

                <div class="radio-list">
                    <input type="radio" class="hide-row" name="ConductiveMetals" value="Y" checked="checked" data-bind="checked: ConductiveMetals, enable: $root.editableView">
                    <label class="radio-inline">Yes</label>
                    <input name="ConductiveMetals" class="hide-row" type="radio" value="N" data-bind="checked: ConductiveMetals, enable: $root.editableView">
                    <label class="radio-inline hide-row">No</label>
                    <span id="spanConductiveMetals" class="validationError"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class=" col-md-10">
                Fire Equipment on standby (Fire Extinguisher, Hose Reel, Fire Blanket and First Aid Kit):
            </label>
            <div class="col-md-2">

                <div class="radio-list">
                    <input type="radio" class="hide-row" name="EquipmentStandby" value="Y" checked="checked" data-bind="checked: EquipmentStandby, enable: $root.editableView">
                    <label class="radio-inline">Yes</label>
                    <input name="EquipmentStandby" class="hide-row" type="radio" value="N" data-bind="checked: EquipmentStandby, enable: $root.editableView">
                    <label class="radio-inline hide-row">No</label>
                    <span id="spanEquipmentStandby" class="validationError"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class=" col-md-10">
                Welding curtains available and shade for eye protection sufficient for the amperage:
            </label>
            <div class="col-md-2">
                <div class="radio-list">
                    <input type="radio" class="hide-row" name="HighProtection" value="Y" checked="checked" data-bind="checked: HighProtection, enable: $root.editableView">
                    <label class="radio-inline">Yes</label>
                    <input name="HighProtection" class="hide-row" type="radio" value="N" data-bind="checked: HighProtection, enable: $root.editableView">
                    <label class="radio-inline hide-row">No</label>
                    <span id="spanHighProtection" class="validationError"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class=" col-md-10">
                Provide Adequate Ventilation:
            </label>
            <div class="col-md-2">
                <div class="radio-list">
                    <input type="radio" class="hide-row" name="AdequateVentilation" value="Y" checked="checked" data-bind="checked: AdequateVentilation, enable: $root.editableView">
                    <label class="radio-inline">Yes</label>
                    <input name="AdequateVentilation" class="hide-row" type="radio" value="N" data-bind="checked: AdequateVentilation, enable: $root.editableView">
                    <label class="radio-inline hide-row">No</label>
                    <span id="spanAdequateVentilation" class="validationError"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class=" col-md-10">
                Barricades Required:
            </label>
            <div class="col-md-2">

                <div class="radio-list">
                    <input type="radio" class="hide-row" name="BarricadesRequired" value="Y" checked="checked" data-bind="checked: BarricadesRequired, enable: $root.editableView">
                    <label class="radio-inline">Yes</label>
                    <input class="hide-row" name="BarricadesRequired" type="radio" value="N" data-bind="checked: BarricadesRequired, enable: $root.editableView">
                    <label class="radio-inline hide-row">No</label>
                    <span id="spanBarricadesRequired" class="validationError"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class=" col-md-10">
                Symbolic Safety Signs Required:
            </label>
            <div class="col-md-2">
                <div class="radio-list">
                    <input type="radio" class="hide-row" name="SymbolicSafetyScience" value="Y" checked="checked" data-bind="checked: SymbolicSafetyScience, enable: $root.editableView">
                    <label class="radio-inline">Yes</label>
                    <input name="SymbolicSafetyScience" class="hide-row" type="radio" value="N" data-bind="checked: SymbolicSafetyScience, enable: $root.editableView">
                    <label class="radio-inline hide-row">No</label>
                    <span id="spanSymbolicSafetyScience" class="validationError"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-md-10">
                Personal Protective Equipment (PPE) requirement:
            </label>
            <div class="col-md-2">
                <div class="radio-list">
                    <input type="radio" class="hide-row" name="PersonalProtective" value="Y" checked="checked" data-bind="checked: PersonalProtective, enable: $root.editableView">
                    <label class="radio-inline">Yes</label>
                    <input name="PersonalProtective" class="hide-row" type="radio" value="N" data-bind="checked: PersonalProtective, enable: $root.editableView">
                    <label class="radio-inline hide-row">No</label>
                    <span id="spanPersonalProtective" class="validationError"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class=" col-md-10">
                Trained Fire Watch required and agreed upon:
            </label>
            <div class="col-md-2">
                <div class="radio-list">
                    <input type="radio" class="hide-row" name="TrainedFireWatch" value="Y" checked="checked" data-bind="checked: TrainedFireWatch, enable: $root.editableView">
                    <label class="radio-inline">Yes</label>
                    <input name="TrainedFireWatch" class="hide-row" type="radio" value="N" data-bind="checked: TrainedFireWatch, enable: $root.editableView">
                    <label class="radio-inline hide-row">No</label>
                    <span id="spanTrainedFireWatch" class="validationError"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class=" col-md-10">
                Post welding/cutting (hot work) fire watch minimum of half hour:
            </label>
            <div class="col-md-2">
                <div class="radio-list">
                    <input type="radio" class="hide-row" name="PostWelding" value="Y" checked="checked" data-bind="checked: PostWelding, enable: $root.editableView">
                    <label class="radio-inline">Yes</label>
                    <input name="PostWelding" class="hide-row" type="radio" value="N" data-bind="checked: PostWelding, enable: $root.editableView">
                    <label class="radio-inline hide-row">No</label>
                    <span id="spanPostWelding" class="validationError"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class=" col-md-10">
                Good Housekeeping Practices and designated area for sharp scraps, electrode stubs and debris:
            </label>
            <div class="col-md-2">
                <div class="radio-list">
                    <input type="radio" class="hide-row" name="HouseKeepingPractices" value="Y" checked="checked" data-bind="checked: HouseKeepingPractices, enable: $root.editableView">
                    <label class="radio-inline">Yes</label>
                    <input name="HouseKeepingPractices" class="hide-row" type="radio" value="N" data-bind="checked: HouseKeepingPractices, enable: $root.editableView">
                    <label class="radio-inline hide-row">No</label>
                    <span id="spanHouseKeepingPractices" class="validationError"></span>
                </div>
            </div>
        </div>
    </div>
</div>
</fieldset>
<div class="row">
    <label class="control-label " algin="left">Additional Conditions to be applied:<span class="required hide-row">*</span></label>
</div>
<div class="row">
    <div data-bind="with: SuppHotWorkInspectionVO">
        <textarea id="txtAdditionalConditions" class="form-control zeroborder" style="resize: none" rows="5" name="AdditionalConditions" data-bind="value: AdditionalConditions, enable: $root.editableView" maxlength="500"></textarea>
    </div>
</div>
<div class="row">
    <label class="control-label">Remarks (If any):<span class="required hide-row ">*</span></label>
</div>
<div class="row">
    <div data-bind="with: SuppHotWorkInspectionVO">
        <textarea id="txtRemarks" class="form-control zeroborder" style="resize: none" rows="5" name="remarks" data-bind="value: Remarks, enable: $root.editableView" maxlength="500"></textarea>
    </div>
</div>
</fieldset>
<div class="row hide-print">
    <div class="col-md-10">
        <div class="form-group">
            <label class=" col-md-10">Name:&nbsp;&nbsp;<span class="col-md-6 displaytxt" id="UserName"></span></label>
        </div>
    </div>
</div>
<div class="row hide-print">
    <div class="col-md-10">
        <div class="form-group">
            <label class="col-md-10">Designation:&nbsp;&nbsp;<span class="col-md-6 displaytxt" id="Designation"></span></label>
        </div>
    </div>
</div>
<div class="row hide-print">
    <div class="col-md-10">
        <div class="form-group">
            <label class="col-md-10">Authorized Signature:</label>
        </div>
    </div>
</div>
    <div class="row hide-print">
    <div class="col-md-10">
        <div class="form-group">
            <label class="col-md-10">&nbsp;</label>
        </div>
    </div>
</div>

                        <div class="row hide-print">
                            <div class="col-md-12">
                                @* <div class="form-group">*@
                                <label class="zeroborder" style="font: initial">
                                    I verify that the job area has been examined and authorize hot work to be carried out providing the above precautions and conditions are mentioned throughout the term of their permit.
                                </label>
                                @* </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="btns-group form-actions fluid">
                        <button type="submit" id="Update" class="btn green" data-bind="click: $parent.ModifySuppHotWorkInspection, visible: $parent.IsUpdate, disable: $parent.IsSaveUpdateDisabled">Update</button>
                        <button type="submit" id="Verify" class="btn green" data-bind="click: $parent.VerifySuppHotWorkInspection, visible: $parent.IsVerify, disable: $parent.IsSaveUpdateDisabled">Verify</button>
                        <button type="submit" id="Reset" class="btn blue" data-bind="click: $parent.ResetSuppHotWorkInspection, visible: $parent.IsReset ">Reset</button>
                        <button type="button" id="Cancel" class="btn red" data-bind="click: $parent.cancel">Cancel</button>
                        @*<button type="submit" id="Print" class="btn green" data-target="#stack1" data-toggle="modal" data-bind="visible: $parent.IsPrintPemit">Print Permit</button>*@
                        <a class="btn purple button-submit" onclick="javascript:printForm();" data-bind="visible: $parent.IsPrintPemit"><i class="fa fa-print"></i>Print</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    @*<div id="stack1" class="modal fade" tabindex="-1" data-width="100%">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 800px; height: 100%">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <div class="scroller" data-always-visible="1" data-rail-visible1="1">
                        <div class="col-md-12">
                            <h3 class="page-title">Hot Work Permit</h3>
                            <ul class="page-breadcrumb breadcrumb"></ul>
                        </div>
                        <div class="row">
                            <div class="portlet portlet-body form">
                                <form action="#" class="form-horizontal">
                                    <div class="form-wizard" data-bind='validationOptions: { messageTemplate: "customMessageTemplate" }'>
                                        <div class="form-body" data-bind="with: SuppHotWorkInspectionModel">
                                            <div data-bind="with: SuppHotWorkInspectionVO">
                                                <h6>
                                                    <label>Permit No:</label>
                                                    <label id="PrintSuppHotWorkInspectionID" data-bind="text: HWPN"></label>
                                                </h6>
                                            </div>
                                            <div>
                                                <fieldset>
                                                    <fieldset>
                                                        <legend>VCN Details</legend>
                                                        <div class="row" data-bind="with: VesselData">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-6">VCN:</label>
                                                                    <div>
                                                                        <label class="control-label displaytxt" data-bind="text: VCN"></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-6">Vessel Name:</label>
                                                                    <div>
                                                                        <label class="control-label displaytxt" data-bind="text: VesselName "></label>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-6">Service Request:</label>

                                                                    <label class="control-label displaytxt" data-bind="text: ServiceTypeName "></label>

                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-6">Current Berth:</label>
                                                                    <div>                                                                        
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">

                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-6">Request Date:</label>
                                                                    <div>
                                                                        <label class="control-label displaytxt" data-bind="text: moment(FromDate()).format('YYYY-MM-DD HH:mm')"></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-6">Service Requested at Berth:</label>
                                                                    <div>
                                                                        <label class="control-label displaytxt" data-bind="text: BerthName "></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-6">Location:</label>
                                                                    <div data-bind="with: SuppHotColdWorkPermitsVO">
                                                                        <label class="control-label displaytxt" data-bind="text: LocationName "></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-6">Request From:</label>

                                                                    <label class="control-label displaytxt" data-bind="text: moment(FromDate()).format('YYYY-MM-DD HH:mm') "></label>

                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-6">Gas Free Certificate Issuing Authority :</label>
                                                                    <div data-bind="with: SuppHotColdWorkPermitsVO">
                                                                        <label class="control-label displaytxt" data-bind="text: GassFreeIssuingAuthority "></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-6">Request To:</label>

                                                                    <label class="control-label displaytxt" data-bind="text: moment(ToDate()).format('YYYY-MM-DD HH:mm')"></label>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">

                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-6">Gas Free Certificate Available:</label>
                                                                    <div data-bind="with: SuppHotColdWorkPermitsVO">
                                                                        <label class="control-label displaytxt" data-bind="text: GassCertificateAvailable "></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-6">Gas Free Certificate Validity:</label>
                                                                    <div data-bind="with: SuppHotColdWorkPermitsVO">
                                                                        <label class="control-label displaytxt" data-bind="text: GassFreeCertificateValidity"></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-6">Dangerous Goods Status:</label>
                                                                    <div class="col-md-6 control-label">
                                                                        <label class="col-md-6 displaytxt" data-bind="text: AnyDangerousGoodsonBoardt"></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-6">Class:</label>
                                                                    <div class="col-md-6 control-label">
                                                                        <label class="col-md-6 displaytxt" data-bind="text: DangerousGoodsClass"></label>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-6">UN No.:</label>
                                                                    <div class="col-md-6 control-label">
                                                                        <label class="col-md-6 displaytxt" data-bind="text: UNNo"></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6"></div>
                                                        </div>
                                                        <div class="row">
                                                            <p>&nbsp;</p>
                                                        </div>
                                                    </fieldset>
                                                    <fieldset data-bind="with: SuppHotColdWorkPermitsVO">
                                                        <legend>Uploaded Documents</legend>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <table class="table">
                                                                    <tbody data-bind="foreach: SuppHotColdWorkPermitDocumentsVO">
                                                                        <tr>
                                                                            <td><a data-bind="  text: FileName, attr: { href: '/FileDownload/Download/' + DocumentID() }, enable: $parent.IsEditable"></a></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </fieldset>

                                                    <fieldset data-bind="with: SuppHotWorkInspectionVO">
                                                        <legend>Inspection Details</legend>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class="col-md-10">
                                                                        The Person Conducting the hot work is familiar with the emergency evacuation procedures:
                                                                    </label>
                                                                    <div class="col-md-1"></div>
                                                                    <div class="col-md-1">
                                                                        <div>
                                                                            <label>Yes</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class="col-md-10">
                                                                        Is the hot work area and surrounding area free of any combustibles - 10 meters minimum (Fire Risk Assessment):
                                                                    </label>
                                                                    <div class="col-md-1"></div>
                                                                    <div class="col-md-1">
                                                                        <div>
                                                                            <label>Yes</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class="col-md-10">
                                                                        Has the hot work area been tested for flammable gases:
                                                                    </label>
                                                                    <div class="col-md-1"></div>
                                                                    <div class="col-md-1">
                                                                        <div>
                                                                            <label>Yes</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class="col-md-10">
                                                                        Is continuous gas monitoring required and agree upon:
                                                                    </label>
                                                                    <div class="col-md-1"></div>
                                                                    <div class="col-md-1">
                                                                        <div>
                                                                            <label>Yes</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class=" col-md-10">
                                                                        Have smoke/fire detectors been disabled locally:
                                                                    </label>
                                                                    <div class="col-md-1"></div>
                                                                    <div class="col-md-1">
                                                                        <div>
                                                                            <label>Yes</label>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class=" col-md-10">
                                                                        Hot Work equipment is in good condition (Oxygen/Acetylene Cylinders, Hoses, Arc welding equipment/cables):
                                                                    </label>
                                                                    <div class="col-md-1"></div>
                                                                    <div class="col-md-1">
                                                                        <div>
                                                                            <label>Yes</label>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class=" col-md-10">
                                                                        Arc welding area dry (no water) and insulated mat used when working with conductive metals:
                                                                    </label>
                                                                    <div class="col-md-1"></div>
                                                                    <div class="col-md-1">

                                                                        <div>
                                                                            <label>Yes</label>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class=" col-md-10">
                                                                        Fire Equipment on standby (Fire Extinguisher, Hose Reel, Fire Blanket and First Aid Kit):
                                                                    </label>
                                                                    <div class="col-md-1"></div>
                                                                    <div class="col-md-1">

                                                                        <div>
                                                                            <label>Yes</label>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class=" col-md-10">
                                                                        Welding curtains available and shade for eye protection sufficient for the amperage:
                                                                    </label>
                                                                    <div class="col-md-1"></div>
                                                                    <div class="col-md-1">
                                                                        <div>
                                                                            <label>Yes</label>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class=" col-md-10">
                                                                        Provide Adequate Ventilation:
                                                                    </label>
                                                                    <div class="col-md-1"></div>
                                                                    <div class="col-md-1">
                                                                        <div>
                                                                            <label>Yes</label>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class=" col-md-10">
                                                                        Barricades Required:
                                                                    </label>
                                                                    <div class="col-md-1"></div>
                                                                    <div class="col-md-1">
                                                                        <div>
                                                                            <label>Yes</label>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class=" col-md-10">
                                                                        Symbolic Safety Signs Required:
                                                                    </label>
                                                                    <div class="col-md-1"></div>
                                                                    <div class="col-md-1">
                                                                        <div>
                                                                            <label>Yes</label>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class="col-md-10">
                                                                        Personal Protective Equipment (PPE) requirement:
                                                                    </label>
                                                                    <div class="col-md-1"></div>
                                                                    <div class="col-md-1">
                                                                        <div>
                                                                            <label>Yes</label>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class=" col-md-10">
                                                                        Trained Fire Watch required and agreed upon:
                                                                    </label>
                                                                    <div class="col-md-1"></div>
                                                                    <div class="col-md-1">
                                                                        <div>
                                                                            <label>Yes</label>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class=" col-md-10">
                                                                        Post welding/cutting (hot work) fire watch minimum of half hour:
                                                                    </label>
                                                                    <div class="col-md-1"></div>
                                                                    <div class="col-md-1">
                                                                        <div>
                                                                            <label>Yes</label>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class=" col-md-10">
                                                                        Good Housekeeping Practices and designated area for sharp scraps, electrode stubs and debris:
                                                                    </label>
                                                                    <div class="col-md-1"></div>
                                                                    <div class="col-md-1">
                                                                        <div>
                                                                            <label>Yes</label>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </fieldset>
                                                                                                      
                                                    <div class="row">
                                                        <label class="control-label">Additional Conditions to be applied:</label>
                                                        <div class="col-md-12" data-bind="with: SuppHotWorkInspectionVO">
                                                            <label class="displaytxt" data-bind="text: AdditionalConditions"></label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label class="control-label">Remarks (If any):</label>
                                                        <div class="col-md-12" data-bind="with: SuppHotWorkInspectionVO">
                                                            <label class="displaytxt" data-bind="text: Remarks"></label>

                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class=" col-md-10">Name:&nbsp;&nbsp;<span id="UserName"></span></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class=" col-md-10">Designation:&nbsp;&nbsp;<span id="Designation"></span></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class=" col-md-10">Authorized Signature:</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class=" col-md-12">
                                                                I verify that the job area has been examined and authorize hot work to be carried out<br />
                                                                providing the above precautions and conditions are mentioned throughout the term of their permit.
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <button type="button" onclick="" id="PrintOut" class="btn green" data-bind="click: $parent.PDFGeneration">Print</button>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</script>

<script>
    function printForm() {
        window.print();
    }
</script>
<!-- Form / Details ends here -->

