@model IPMS.Domain.ValueObjects.PrivilegeVO

@{    
    ViewBag.Title = "TPT Documents Upload";
    Layout = "~/Views/Shared/_IPMSLayout.cshtml";
}
@section scripts
{
<script src="~/Scripts/Application/Model/TptDocumentUploadModel.js"></script>
<script src="~/Scripts/Application/ViewModel/TptDocumentUploadViewModel.js"></script>
}
@section ko_apply
{
var viewModel = new IPMSROOT.TptDocumentUploadViewModel();   
ko.applyBindingsWithValidation(viewModel, $("#UploadDocs")[0], { insertMessages: false, messagesOnModified: false, grouping: { deep: true }});
}
<style>
    .table-style {
        background: #fff;
    }

        .table-style th {
            padding-left: 5px;
        }

        .table-style thead tr {
            height: 30px;
        }

    .highlighted {
      background-color: red;
   }
    .displaytxt {
        line-height: 12px;
    }
</style>
<!-- BEGIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <h3 class="page-title"><span>TPT Document Upload</span></h3>
        <ul class="page-breadcrumb breadcrumb"></ul>
    </div>
</div>
<div id="UploadDocs"> 
    <div class="clearfix"></div> 
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="portlet portlet-body form">
                <form action="#" id="form_sample_1" class="form-horizontal" data-bind="with: TptDocumentUploadModel">
                    <div class="form-wizard">
                        <div class="form-body">
                            <div class="alert alert-danger display-none">
                                <button class="close" data-dismiss="alert"></button>
                                You have some form errors. Please check below.
                            </div>
                            <div class="alert alert-success display-none">
                                <button class="close" data-dismiss="alert"></button>
                                Your form validation is successful!
                            </div> 
                            <fieldset>
                                <legend>Document Upload</legend>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12 alert ">
                                            <div class="radio-list" id="rbtnDoc" >
                                                <div class="col-md-1"></div>
                                                <div class="col-md-4">
                                                    <label class="col-md-9 radio-inline">
                                                        <input id="id_radio1" type="radio" name="NewUser" value="TLDT" title="Terminal Data" data-title="Yes" checked   >
                                                        <b>Terminal Data (Weekly)</b>
                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <label class=" radio-inline col-md-7">
                                                        <input id="id_radio2" type="radio" name="NewUser" title="Terminal Delays" value="TLDL" data-title="No" ><b>Terminal Delays (Daily)</b></label>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class=" radio-inline">
                                                        <input id="id_radio3" type="radio" name="NewUser" value="OTVL" title="Out Turn Volumes" data-title="No"><b>Out Turn Volumes (Daily)</b></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <fieldset>

                                    <legend>Documents Upload</legend>
                                    <div class="row fileupload-buttonbar">
                                        <div class="form-group">

                                            <div class="col-md-4">
                                            </div>
                                            <div class="col-md-7">
                                                &nbsp;&nbsp;<span class="btn btn-sm green fileinput-button" data-bind="visible: $root.isUploadEnable">
                                                    <i class="fa fa-plus"></i>
                                                    <span>Browse
                                                    </span>
                                                    <input type="file" name="files[]" id="fileToUpload" multiple>
                                                </span>
                                                <button type="button" data-bind="enable: $root.isUploadEnable, click: $root.uploadFile" class="btn btn-sm blue start">
                                                    <i class="fa fa-upload"></i>
                                                    <span>Upload
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                &nbsp;&nbsp; <span id="spanmultiplepfileToUpload" class="validationError"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-advance">
                                                <thead>
                                                    <tr>
                                                        <th class="bg-dark">Document Category</th>
                                                        <th class="bg-dark">Document Name</th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody data-bind=" with: $root.UploadDocument()[0]">
                                                    <tr>
                                                        <td id="UploadFileType" data-bind="text: DocumentName"></td>
                                                        <td id="lblUploadFileName" data-bind="text: FileName"></td>
                                                        
                                                       @* <td><a data-bind="text: FileName">Document</a></td>
                                                        <td><a href="#" class="btn default btn-xs red" data-bind="visible: $root.isUploadEnable, click: $root.DeleteDocument"><i class="fa fa-trash-o"></i>Delete</a></td>*@
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </fieldset>
                                <fieldset>
                                    <legend>Preview</legend>
                                    <div class="form-group TLDT">

                                        <div class="table-toolbar">
                                            <div style="overflow: auto;" class="td-w">
                                                <table cellpadding="0" cellspacing="0" border="0" id="table" class=" tinytable table-style">
                                                    <tr>
                                                        <td>
                                                            <h5><b>Terminal Data (Weekly)</b></h5>
                                                        </td>
                                                        <td>
                                                            <h5><b>
                                                                <div class="col-md-5">
                                                                    <label style="text-align: left">Week No. :</label></div>
                                                                <div class="col-md-5">
                                                                    <label class="displaytxt" id="lblWeekNo" data-bind="text: $root.WeekNo"></label>
                                                                </div>
                                                                 </b></h5>
                                                        </td>
                                                        <td>
                                                            <h5><b>
                                                                <div class="col-md-4" style="text-align: left"> Week Ending :</div>
                                                                <div class="col-md-6">
                                                                    <label class="col-md-12 displaytxt" id="lblWeekEnding" data-bind="text: $root.WeekEnding"></label>
                                                                </div>
                                                            </b></h5>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <table cellpadding="0" cellspacing="0" border="0" id="table" class="tinytable table-style">
                                                    <thead> 
                                                        <tr>
                                                            <th>Performance Area
                                                            </th>
                                                            <th>Measure
                                                            </th>
                                                            <th>Unit of Measure (UoM)
                                                            </th>
                                                            <th>Cargo Type
                                                            </th>
                                                            <th>Planned
                                                            </th>
                                                            <th>Actual
                                                            </th>
                                                            <th>Comments
                                                            </th>
                                                            <th>Input Terminal
                                                            </th>
                                                            <th>Error Status
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody data-bind="foreach: TerminalWeeklyData" id="TerminalDataBody">
                                                        <tr style="border-top: solid 2px #c6d5e1;" data-bind="style: { backgroundColor: (RecordStatus() == 'E') ? 'orange' : ' ' }">
                                                            <td>
                                                                <label class="col-md-12 displaytxt" data-bind="text: PerformanceArea"></label>
                                                            </td>
                                                            <td>
                                                                <label class="col-md-12 displaytxt" data-bind="text: Measure"></label>
                                                            </td>
                                                            <td>
                                                                <label class="col-md-12 displaytxt" data-bind="text: UnitOfMeasure"></label>
                                                            </td>
                                                            <td>
                                                                <label class="col-md-12 displaytxt" data-bind="text: CargoType"></label>
                                                            </td>
                                                            <td>
                                                                <label class="col-md-12 displaytxt" data-bind="text: Planned"></label>
                                                            </td>
                                                            <td>
                                                                <label class="col-md-12 displaytxt" data-bind="text: Actual"></label>
                                                            </td>
                                                            <td>
                                                                <label class="col-md-12 displaytxt" data-bind="text: Comments"></label>
                                                            </td>
                                                            <td>
                                                                <label class="col-md-12 displaytxt" data-bind="text: Terminal"></label>
                                                            </td>
                                                            <td>
                                                                <label class="col-md-12 displaytxt" data-bind="text: ErrorStatus"></label>
                                                            </td>
                                                        </tr> 
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div> 
                                    </div>

                                    <div class="form-group TLDL">

                                        <div class="table-toolbar">
                                            <div style="overflow: auto;" class="td-w"> 
                                                <div> 
                                                    <table cellpadding="0" cellspacing="0" border="0" id="table" class=" tinytable table-style">
                                                        <tr>
                                                            <td>
                                                                <h5><b>Terminal Delays (Daily)</b></h5>
                                                            </td>
                                                            <td>
                                                                <h5><b>
                                                                    <div class="col-md-4" style="text-align: left">Arrival Date : </div>
                                                                    <div class="col-md-4" style="text-align: left">
                                                                        <label class="displaytxt" id="lblTldlArrivalDate" data-bind="text: $root.ArrivalDate"></label>
                                                                    </div>
                                                                    </b></h5>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <table cellpadding="0" cellspacing="0" border="0" id="table" class="tinytable table-style" >
                                                        <thead>
                                                            <tr>
                                                                <th>IMO No.</th>
                                                                <th>Voyage</th>
                                                                <th>Vessel Name</th>
                                                                <th>Terminal</th>
                                                                <th>Cargo Type</th>
                                                                <th>Reason for Delay</th>
                                                                <th>Delay Duration</th>
                                                                <th>Unit of Measure</th>
                                                                <th>Comments</th>
                                                                <th>Error Status</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody data-bind="foreach: TerminalDelay" id="TerminalDelayBody">
                                                            <tr data-bind="style: { backgroundColor: (RecordStatus() == 'E') ? 'orange' : ' ' }">
                                                                <td>
                                                                    <label class="col-md-12 displaytxt" data-bind="text: IMONo"></label>
                                                                </td>
                                                                <td>
                                                                    <label class="col-md-12 displaytxt" data-bind="text: Voyage"></label>
                                                                </td>
                                                                <td>
                                                                    <label class="col-md-12 displaytxt" data-bind="text: VesselName"></label>
                                                                </td>
                                                                <td>
                                                                    <label class="col-md-12 displaytxt" data-bind="text: Terminal"></label>
                                                                </td>
                                                                <td>
                                                                    <label class="col-md-12 displaytxt" data-bind="text: CargoType"></label>
                                                                </td>
                                                                <td>
                                                                    <label class="col-md-12 displaytxt" data-bind="text: ReasonForDelay"></label>
                                                                </td>
                                                                <td>
                                                                    <label class="col-md-12 displaytxt" data-bind="text: DelayDuration"></label>
                                                                </td>
                                                                <td>
                                                                    <label class="col-md-12 displaytxt" data-bind="text: UnitOfMeasure"></label>
                                                                </td>
                                                                <td>
                                                                    <label class="col-md-12 displaytxt" data-bind="text: Comments"></label>
                                                                </td>
                                                                <td>
                                                                    <label class="col-md-12 displaytxt" data-bind="text: ErrorStatus"></label>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group OTVL">

                                        <div class="table-toolbar">
                                            <div style="overflow: auto;" class="td-w">
                                                <table cellpadding="0" cellspacing="0" border="0" id="table" class=" tinytable table-style">
                                                    <tr>
                                                        <td>
                                                            <h5><b>Terminal Outurns (Daily)</b></h5>
                                                        </td>
                                                        <td>
                                                            <h5><b>
                                                                <div class="col-md-4" style="text-align: left">Arrival Date :</div>
                                                                <div class="col-md-4" style="text-align: left">
                                                                    <label class="displaytxt" id="lblOtvlArrivalDate" data-bind="text: $root.ArrivalDate"></label>
                                                                </div>
                                                               </b></h5>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <table cellpadding="0" cellspacing="0" border="0" id="table" class="tinytable table-style">
                                                    <thead>
                                                        <tr>
                                                            <th>IMO No.</th>
                                                            <th>Voyage</th>
                                                            <th>Vessel Name</th>
                                                            <th>Terminal</th>
                                                            <th>Cargo Type</th>
                                                            <th>Out Turn Volumes</th>
                                                            <th>Unit of Measure</th>
                                                            <th>First Crane Swing</th>
                                                            <th>Last Crane Swing</th>
                                                            <th>No. of Cranes</th>
                                                            <th>Comments</th>
                                                            <th>Error Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody data-bind="foreach: OutTurnVolumess" id="OutTurnBodyBody">
                                                        <tr data-bind="style: { backgroundColor: (RecordStatus() == 'E') ? 'orange' : ' ' }">
                                                            <td>
                                                                <label class="col-md-12 displaytxt" data-bind="text: IMONo"></label>
                                                            </td>
                                                            <td>
                                                                <label class="col-md-12 displaytxt" data-bind="text: Voyage"></label>
                                                            </td>
                                                            <td>
                                                                <label class="col-md-12 displaytxt" data-bind="text: VesselName"></label>
                                                            </td>
                                                            <td>
                                                                <label class="col-md-12 displaytxt" data-bind="text: Terminal"></label>
                                                            </td>
                                                            <td>
                                                                <label class="col-md-12 displaytxt" data-bind="text: CargoType"></label>
                                                            </td>
                                                            <td>
                                                                <label class="col-md-12 displaytxt" data-bind="text: OutTurnVolume"></label>
                                                            </td>
                                                            <td>
                                                                <label class="col-md-12 displaytxt" data-bind="text: UnitOfMeasure"></label>
                                                            </td>
                                                            <td>
                                                                <label class="col-md-12 displaytxt" data-bind="text: FirstCraneSwing"></label>
                                                            </td>
                                                            <td>
                                                                <label class="col-md-12 displaytxt" data-bind="text: LastCraneSwing"></label>
                                                            </td>
                                                            <td>
                                                                <label class="col-md-12 displaytxt" data-bind="text: NoOfCranes"></label>
                                                            </td>
                                                            <td>
                                                                <label class="col-md-12 displaytxt" data-bind="text: Comments"></label>
                                                            </td>
                                                            <td>
                                                                <label class="col-md-12 displaytxt" data-bind="text: ErrorStatus"></label>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </fieldset>
                            <div class="btns-group form-actions fluid" data-bind="loadingWhen: $root.viewModelHelper.isLoading">
                                <button type="submit" class="btn green" style="" data-bind="click: $parent.SaveTptDocumentValues">Save</button>
                                <button type="button" data-bind="click: $parent.Cancel" class="btn red">Cancel</button>
                            </div>
                            <div style="font-size: smaller">*Please correct the data in the highlighted records and then upload to save the data.</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script language="javascript">
    $(document).ready(function () {
        $(".TLDT").show();
        $(".TLDL, .OTVL").hide();
        $('input[type="radio"]').click(function () {
            $("#TerminalDataBody").html("");
            $("#TerminalDelayBody").html("");
            $("#OutTurnBodyBody").html("");
            $('#lblWeekNo').html("");
            $('#lblWeekEnding').html("");
            $('#lblOtvlArrivalDate').html("");
            $('#lblTldlArrivalDate').html("");
            
            $("#UploadFileType").html("");
            $("#lblUploadFileName").html("");

            if ($(this).attr("value") == "TLDT") {
                $(".TLDT").show();
                $(".TLDL, .OTVL").hide();
            }
            if ($(this).attr("value") == "TLDL") {
                $(".TLDL").show();
                $(".TLDT, .OTVL").hide();
            }
            if ($(this).attr("value") == "OTVL") {
                $(".OTVL").show();
                $(".TLDT, .TLDL").hide();
            }
          
        });
    });
</script>