<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>IPMSBuild</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Core.Repository.Providers.EntityFramework.DataContext" Order="2" Enabled="False">
          <Destination Path="Data Source=NITLAP97;Initial Catalog=IPMS;User ID=sa;Password=navayuga123$" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Core.Repository.Providers.EntityFramework.DataContext, IPMS.Core.Repository" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IPMS.Data.Tests.TnpaContextTest" Order="3" Enabled="False">
          <Destination Path="Data Source=NITLAP97;Initial Catalog=IPMS;User ID=sa;Password=navayuga123$" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IPMS.Data.Tests.TnpaContextTest, IPMS.Data" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TnpaContext" Order="4" Enabled="False">
          <Destination Path="Data Source=NITLAP97;Initial Catalog=IPMS;User ID=sa;Password=navayuga123$" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="IPMS.Data.Context.TnpaContext, IPMS.Data" MigrationConfiguration="IPMS.Data.TnpaContextMigrationConfiguration, IPMS.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Core.Repository.Providers.EntityFramework.DataContext-Web.config Connection String">
      <ParameterValue>Data Source=NITLAP97;Initial Catalog=IPMS;User ID=sa;Password=navayuga123$</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IPMS.Data.Tests.TnpaContextTest-Web.config Connection String">
      <ParameterValue>Data Source=NITLAP97;Initial Catalog=IPMS;User ID=sa;Password=navayuga123$</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TnpaContext-Web.config Connection String">
      <ParameterValue>Data Source=NITLAP97;Initial Catalog=IPMS;User ID=sa;Password=navayuga123$</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Core.Repository.Providers.EntityFramework.DataContext" />
    <_ConnectionStringsToInsert Include="IPMS.Data.Tests.TnpaContextTest" />
  </ItemGroup>
</Project>