<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="AdoNetAppender_SqlServer" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Data Source=49.50.68.172,3377;Initial Catalog=IPMSUAT;Integrated Security=False;User=appl;Password=navayuga123$;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message,  @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.PatternLayout" value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout" value="%thread" />
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout" value="%level" />
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout" value="%logger" />
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout" value="%message" />
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="AdoNetAppender_SqlServer" />
    </root>
    <logger name="DBLogger">
      <appender-ref ref="AdoNetAppender_SqlServer" />
    </logger>
  </log4net>
  <connectionStrings>
    <add connectionString="Data Source=49.50.68.172,3377;Initial Catalog=IPMSUAT;User ID=appl;Password=navayuga123$" name="TnpaContext" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="MyVersion" value="18" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- Required by Microsoft ReportViewer control -->
    <add key="MvcReportViewer.AspxViewer" value="/MvcReportViewer.aspx" />
    <!--<add key="MvcReportViewer.ReportServerUrl" value="http://49.50.68.172,3377/Reportserver" />-->
    <add key="MvcReportViewer.ReportServerUrl" value="http://ipmsuat-db:9999/ReportServer" />
    <!--<add key="MvcReportViewer.Username" value=""/>
    <add key="MvcReportViewer.Password" value=""/>-->
    <add key="MvcReportViewer.IsAzureSSRS" value="false" />
    <add key="enableSimpleMembership" value="true" />
    <add key="IsAuditLog" value="Yes" />
    <add key="AnonymousUserId" value="1" />
  </appSettings>
  <system.web>
    <httpHandlers>
      <!-- Required by Microsoft ReportViewer control -->
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5">
      <assemblies />
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" protection="All" timeout="15" name=".ASPXAUTH" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="~/Account/Login" cookieless="UseDeviceProfile" enableCrossAppRedirects="false" />
    </authentication>
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647" executionTimeout="1600" requestLengthDiskThreshold="2147483647" />
    <pages controlRenderingCompatibilityVersion="4.0" enableSessionState="true">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <trust level="Full" />
    <identity impersonate="false" />
  </system.web>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <client>
      <endpoint address="net.tcp://localhost:808/AccountService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IAccountService" />
      <endpoint address="net.tcp://localhost:808/AgentService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IAgentService" />
      <endpoint address="net.tcp://localhost:808/ArrivalNotificationService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IArrivalNotificationService" />
      <endpoint address="net.tcp://localhost:808/AuditLogService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IAuditLogService" />
      <endpoint address="net.tcp://localhost:808/AutomatedResourceSchedulingService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IAutomatedResourceSchedulingService" />
      <endpoint address="net.tcp://localhost:808/AutomatedSlotConfigurationService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IAutomatedSlotConfigurationService" />
      <endpoint address="net.tcp://localhost:808/AutomatedSlottingService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IAutomatedSlottingService" />
      <endpoint address="net.tcp://localhost:808/BerthMaintenanceCompletionService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IBerthMaintenanceCompletionService" />
      <endpoint address="net.tcp://localhost:808/BerthMaintenanceService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IBerthMaintenanceService" />
      <endpoint address="net.tcp://localhost:808/BerthPlanningConfigurationsService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IBerthPlanningConfigurationsService" />
      <endpoint address="net.tcp://localhost:808/BerthPlanningService" binding="netTcpBinding" contract="IPMS.Web.ServiceProxies.Contracts.IBerthPlanningService" />
      <endpoint address="net.tcp://localhost:808/BerthPreSchedulingService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IBerthPreSchedulingService" />
      <endpoint address="net.tcp://localhost:808/BerthService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IBerthService" />
      <endpoint address="net.tcp://localhost:808/BollardService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IBollardService" />
      <endpoint address="net.tcp://localhost:808/BudgetedValuesService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IBudgetedValuesService" />
      <endpoint address="net.tcp://localhost:808/CommonService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.ICommonService" />
      <endpoint address="net.tcp://localhost:808/CargoManifestService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.ICargoManifestService" />
      <endpoint address="net.tcp://localhost:808/CraftOutOfCommissionService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.ICraftOutOfCommissionService" />
      <endpoint address="net.tcp://localhost:808/CraftReminderConfigService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.ICraftReminderConfigService" />
      <endpoint address="net.tcp://localhost:808/CraftService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.ICraftMasterService" />
      <endpoint address="net.tcp://localhost:808/DashBoardService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IDashBoardService" />
      <endpoint address="net.tcp://localhost:808/DepartureNoticeService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IDepartureNoticeService" />
      <endpoint address="net.tcp://localhost:808/DeploymentPlanService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IDeploymentPlanService" />
      <endpoint address="net.tcp://localhost:808/DredgingPriorityService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IDredgingPriorityService" />
      <endpoint address="net.tcp://localhost:808/DryDockSchedulerService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IDryDockSchedulerService" />
      <endpoint address="net.tcp://localhost:808/DockingPlanService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IDockingPlanService" />
      <endpoint address="net.tcp://localhost:808/DivingRequestService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IDivingRequestService" />
      <endpoint address="net.tcp://localhost:808/ElectronicNotificationsService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IElectronicNotificationsService" />
      <endpoint address="net.tcp://localhost:808/EmailService" binding="netTcpBinding" contract="IPMS.Web.ServiceProxies.Contracts.IEmailService" />
      <endpoint address="net.tcp://localhost:808/EmployeeService" binding="netTcpBinding" contract="IPMS.Web.ServiceProxies.Contracts.IEmployeeService" />
      <endpoint address="net.tcp://localhost:808/EntityService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IEntityService" />
      <endpoint address="net.tcp://localhost:808/EventSchedulerService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IEventSchedulerService" />
      <endpoint address="net.tcp://localhost:808/ExternalDivingRegisterService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IExternalDivingRegisterService" />
      <endpoint address="net.tcp://localhost:808/FileService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IFileService" />
      <endpoint address="net.tcp://localhost:808/FuelConsumptionDailyLogService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IFuelConsumptionDailyLogService" />
      <endpoint address="net.tcp://localhost:808/FuelReceiptService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IFuelReceiptService" />
      <endpoint address="net.tcp://localhost:808/FuelRequisitionService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IFuelRequisitionService" />
      <endpoint address="net.tcp://localhost:808/Hour24Report625Service" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IHour24Report625Service" />
      <endpoint address="net.tcp://localhost:808/LicensingRequestService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.ILicensingRequestService" />
      <endpoint address="net.tcp://localhost:808/LocationService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.ILocationService" />
      <endpoint address="net.tcp://localhost:808/MarineRevenueService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IMarineRevenueService" />
      <endpoint address="net.tcp://localhost:808/MaterialCodeMasterService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IMaterialCodeMasterService" />
      <endpoint address="net.tcp://localhost:808/MobileConversationService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IMobileConversationService" />
      <endpoint address="net.tcp://localhost:808/MobileIncidentReportService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IMobileIncidentReportService" />
      <endpoint address="net.tcp://localhost:808/MobileScheduledTasksService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IMobileScheduledTasksService" />
      <endpoint address="net.tcp://localhost:808/MobileService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IMobileService" />
      <endpoint address="net.tcp://localhost:808/ModuleService" binding="netTcpBinding" contract="IPMS.Web.ServiceProxies.Contracts.IModuleService" />
      <endpoint address="net.tcp://localhost:808/NewsService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.INewsService" />
      <endpoint address="net.tcp://localhost:808/PilotExemptionRequestService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IPilotExemptionRequestService" />
      <endpoint address="net.tcp://localhost:808/PortGeneralConfigsService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IPortGeneralConfigsService" />
      <endpoint address="net.tcp://localhost:808/PortEntryPassApplicationService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IPortEntryPassApplicationService" />
      <endpoint address="net.tcp://localhost:808/PortInformationService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IPortInformationService" />
      <endpoint address="net.tcp://localhost:808/PortService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IPortService" />
      <endpoint address="net.tcp://localhost:808/QuayService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IQuayService" />
      <endpoint address="net.tcp://localhost:808/ReportBuilderService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IReportBuilderService" />
      <endpoint address="net.tcp://localhost:808/ResourceAllocationConfigRuleService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IResourceAllocationConfigRuleService" />
      <endpoint address="net.tcp://localhost:808/ResourceAllocationService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IResourceAllocationService" />
      <endpoint address="net.tcp://localhost:808/ResourceAttendanceService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IResourceAttendanceService" />
      <endpoint address="net.tcp://localhost:808/ResourceGroupService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IResourceGroupService" />
      <endpoint address="net.tcp://localhost:808/RevenueStopListService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IRevenueStopListService" />
      <endpoint address="net.tcp://localhost:808/RolePrivilegeService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IRolePrivilegeService" />
      <endpoint address="net.tcp://localhost:808/RosterService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IRosterService" />
      <endpoint address="net.tcp://localhost:808/ServiceRequestService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IServiceRequestService" />
      <endpoint address="net.tcp://localhost:808/ServiceTypeDesignationService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IServiceTypeDesignationService" />
      <endpoint address="net.tcp://localhost:808/ServiceTypeService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IServiceTypeService" />
      <endpoint address="net.tcp://localhost:808/ShiftService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IShiftService" />
      <endpoint address="net.tcp://localhost:808/StatementFactService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IStatementFactService" />
      <endpoint address="net.tcp://localhost:808/SubCategoryService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.ISubCategoryService" />
      <endpoint address="net.tcp://localhost:808/SuperCategoryService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.ISuperCategoryService" />
      <endpoint address="net.tcp://localhost:808/SuppMiscServiceRecordingService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.ISuppMiscServiceRecordingService" />
      <endpoint address="net.tcp://localhost:808/SuppDockUnDockTimeService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.ISuppDockUnDockTimeService" />
      <endpoint address="net.tcp://localhost:808/SuppDryDockExtensionService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.ISuppDryDockExtensionService" />
      <endpoint address="net.tcp://localhost:808/SuppDryDockService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.ISuppDryDockService" />
      <endpoint address="net.tcp://localhost:808/SuppHotWorkInspectionService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.ISuppHotWorkInspectionService" />
      <endpoint address="net.tcp://localhost:808/SupplymentaryServiceRequestService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.ISupplymentaryServiceRequestService" />
      <endpoint address="net.tcp://localhost:808/SuppServiceResourceAllocService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.ISuppServiceResourceAllocService" />
      <endpoint address="net.tcp://localhost:808/TerminalOperatorService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.ITerminalOperatorService" />
      <endpoint address="net.tcp://localhost:808/TptDocumentUploadService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.ITptDocumentUploadService" />
      <endpoint address="net.tcp://localhost:808/UserService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IUserService" />
      <endpoint address="net.tcp://localhost:808/UserPreferenceService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IUserPreferenceService" />
      <endpoint address="net.tcp://localhost:808/VesselAgentChangeService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IVesselAgentChangeService" />
      <endpoint address="net.tcp://localhost:808/VesselArrestImmobilizationSAMSAStopService" binding="netTcpBinding" contract="IPMS.Web.ServiceProxies.Contracts.IVesselArrestImmobilizationSAMSAStopService" />
      <endpoint address="net.tcp://localhost:808/VesselCallAnchorageService" binding="netTcpBinding" contract="IPMS.Web.ServiceProxies.Contracts.IVesselCallAnchorageService" />
      <endpoint address="net.tcp://localhost:808/VesselETAChangeService" binding="netTcpBinding" contract="IPMS.Web.ServiceProxies.Contracts.IVesselETAChangeService" />
      <endpoint address="net.tcp://localhost:808/VesselRegistrationService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IVesselRegistrationService" />
      <endpoint address="net.tcp://localhost:808/VoyageMonitoringService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IVoyageMonitoringService" />
      <endpoint address="net.tcp://localhost:808/WorkFlowTaskService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IWorkFlowTaskService" />
      <endpoint address="net.tcp://localhost:808/SAPPostingService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.ISAPPostingService" />
      <endpoint address="net.tcp://localhost:808/VesselSAPPostingService" binding="netTcpBinding" contract="IPMS.ServiceProxies.Contracts.IVesselSAPPostingService" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding maxReceivedMessageSize="2147483647" transactionFlow="true" sendTimeout="00:20:00" receiveTimeout="00:20:00">
          <reliableSession enabled="true" inactivityTimeout="00:20:00" />
          <readerQuotas maxDepth="5000" />
        </binding>
      </netTcpBinding>
    </bindings>

  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <!-- Required by Microsoft ReportViewer control -->
      <remove name="ReportViewerWebControlHandler" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>

  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>