@using MvcReportViewer;
@{
    Layout="~/Views/Shared/_IPMSLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    @Html.MvcReportViewer(
   "/IPMS.Reports/DwellRep",
    new { FromDate = DateTime.Now.ToString("yyyy-MM-dd"), ToDate = DateTime.Now.ToString("yyyy-MM-dd"), Name=ViewBag.PortName },
    new { Height = "550px", Width = "100%",scrolling="no", style = "border: none"})
    </div>
</body>
</html>





