@using MvcReportViewer;
@{
    Layout="~/Views/Shared/_IPMSLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @*,UserName=ViewBag.UserName,Port=ViewBag.PortName *@
    @Html.MvcReportViewer(
   "/IPMS.Reports/StatVolumeActBudgRep",
    new { FromDate = DateTime.Today, ToDate = DateTime.Today },
    new { Height = "550px", Width = "100%",scrolling="no", style = "border: none"})
    </div>
</body>
</html>





