@using MvcReportViewer;
@{
    Layout="~/Views/Shared/_IPMSLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    @Html.MvcReportViewer(
   "/IPMS.Reports/MobileMovementsrep",
    new { FromDate = DateTime.Today ,Port=ViewBag.PortName ,UserName=ViewBag.UserName},
    new { Height = "550px", Width = "100%",scrolling="no", style = "border: none"})
    </div>
</body>
</html>





