
@{
	ViewBag.Title = "ShipsinPorts";
   
Layout="~/Views/Shared/_IPMSLayout.cshtml";
}
<script src="~/Scripts/imageMapResizer.min.js" type="text/javascript"></script>
<script src="~/Scripts/Application/Model/DashBoardModel.js" type="text/javascript"></script>
<script src="~/Scripts/Application/ViewModel/DashBoardViewModel.js" type="text/javascript"></script>
<script src="~/Scripts/Application/ViewModel/NotificationsViewModel.js" type="text/javascript"></script>
<script src="~/Scripts/Lib/jquery.cokie.min.js" type="text/javascript"></script>

@section scripts
{
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8" />

@Html.Raw("<style>@media (pointer: coarse), (-moz-touch-enabled){.map-bg img{width: 250%;margin: 0 -82% 0;}.page-content{padding-top:0 !important;}}</style>")
<link href="~/Content/Styles/allports.css" rel="stylesheet" />
}

<style>
        input {
            border: 1px solid #CCCCCC;
            padding: 2px;
            font-family: Arial;
            size: 12px;
        }

        #sortable {
            list-style-type: none;
            margin: 0 auto;
            padding: 15px 0;
            display: inline-block;
        }

            #sortable li {
                margin: 0 10px 10px 0;
                padding: 1px;
                float: left;
                width: 300px;
                height: 290px;
                text-align: center;
                cursor: move;
                border: 1px solid #037ab5;
                -moz-border-radius: 21px;
                -webkit-border-radius: 21px;
                border-radius: 21px;
            }

            #sortable span {
                font-family: Verdana;
                font-size: 10px;
                font-weight: bold;
                float: right;
                cursor: pointer;
                color: #FFF;
                width: 15px;
                height: 15px;
                background: #515151;
                -moz-border-radius: 15px;
                -webkit-border-radius: 15px;
                border-radius: 15px;
                margin: -2px;
                -webkit-margin: -10px;
                position: relative;
            }

                #sortable span:hover {
                    background: red;
                }

        header, hgroup, nav, section, article, aside, footer {
            display: block;
        }

        section {
            margin-left: 10px;
        }

        hgroup {
            font-family: Arial;
            font-size: 13px;
            font-weight: bold;
            padding: 5px 15px;
            border: 1px solid #bad1e5;
            background-color: #f0f8fc;
            background: -moz-linear-gradient(top, #fff 3%, #edf7fe 5%, #cbe3f5 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#fff), color-stop(5%,#edf7fe), color-stop(100%,#cbe3f5));
            width: 575px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            position: relative;
        }

        #gobutton {
            background: #3D8DCE; /* Old browsers */
            background: -moz-linear-gradient(top, rgb(177,202,225) 3%, rgb(115,166,209) 5%, rgb(6,111,204) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgb(177,202,225)), color-stop(5%,rgb(115,166,209)), color-stop(100%,rgb(6,111,204)));
            font-family: Arial;
            font-size: 13px;
            font-weight: bold;
            color: #fff;
            height: 25px;
            border: 1px solid #0561b5;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }

        input#gobutton:hover, input#gobutton:focus {
            background-color: #066fcc;
            -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
            -moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
            box-shadow: 0 0 1px rgba(0,0,0, .75);
        }

        article {
            font-family: Arial;
            font-size: 12px;
            margin: 10px;
            height: 250px;
        }

            article h1 {
                font-size: 22px;
                font-weight: 900;
                line-height: 22px;
                margin: 0px;
                padding-top: 10px;
                display: block;
            }

            article hr {
                background: #000;
                height: 1px;
                border: none;
                clear: both;
                text-align: right;
            }
            /*article p{ padding-top:5px;}*/
            article div a {
                font-weight: bold;
                font-size: 16px;
                line-height: 10px;
                color: #00b0ff;
                text-decoration: none;
                float: right;
                margin-right: 15px;
                display: block;
            }

                article div a:hover {
                    border-bottom: 1px solid #00b0ff;
                }

                article div a div {
                    font-size: 11px;
                    color: #fff;
                    background-color: #00b0ff;
                    padding: 0;
                    width: 10px;
                    text-indent: 1px;
                    cursor: pointer;
                    display: inline-block;
                    zoom: 1;
                }

        .left {
            float: left;
        }

        #drDisp {
            font-size: 50px;
            font-weight: bold;
            color: #ed3325;
            letter-spacing: -3px;
            height: 180px;
            padding-top: 15px;
        }

            #drDisp div {
                font-size: 12px;
                font-weight: normal;
                color: #fff;
                letter-spacing: 0;
                text-align: right;
                background-color: #000;
                padding: 3px;
                margin: 0 25px 0 150px;
                padding-right: 5px;
            }

        #drBoxDisp {
            font-size: 38px;
            font-weight: bold;
            color: #fff;
            letter-spacing: -3px;
            padding: 7px;
            margin: 3px;
            margin-top: 15px;
            display: inline-block;
            zoom: 1;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            position: relative;
        }

            #drBoxDisp div {
                font-size: 12px;
                font-weight: normal;
                letter-spacing: 0;
                line-height: 9px;
                height: 21px;
            }

                #drBoxDisp div.txt {
                    font-weight: bold;
                    text-transform: uppercase;
                    color: #000;
                }

        .dispdata {
            height: 180px;
        }

        .red {
            background-color: #f13325;
        }

        .orange {
            background-color: #ff6600;
        }

        .green {
            background-color: #669900;
        }

        .blue {
            background-color: #00b0ff;
        }

        .txt {
            display: block;
        }

        #gauge {
            width: 150px;
            height: 150px;
            margin: 0 auto 0;
        }


        .page-content {
            display: -webkit-flex;
            margin-bottom: 20px;
            display: flex;
            display: -ms-flexbox;
        }

        .pm, .bs {
            padding-top: 20px;
        }

            .pm p {
                background-color: #0075ff;
                width: 100px;
                height: 100px;
                border-radius: 50px;
                border: 3px solid #fff;
                box-shadow: 0px 0px 10px #888888;
                color: #fff;
                font-weight: 600;
            }

            .bs p {
                background-color: #cd3333;
                width: 100px;
                height: 100px;
                border-radius: 15px;
            }

            .bs span {
                text-transform: uppercase;
                font-size: 14px;
            }

            .pm span {
                text-transform: uppercase;
                font-size: 14px;
            }

        .pm-sub {
            text-transform: uppercase;
            color: #fff;
            padding: 5px 5px 2px;
            background-color: #152890;
        }

            .pm-sub .row .col-md-4 .form-group {
                text-align: center;
                width: 100%;
                border-right: 1px solid #6373ca;
                display: inline-block;
            }
            .pm-sub .row .col-md-4:last-child .form-group {
                border: 0;
            }
            .pm-sub p {
                text-align: center;
                vertical-align: sub;
                min-width: 28px;
                height: 28px;
                padding: 6px;
                margin-left: 5px;
                border-radius: 100%;
                margin-bottom: 0;
                box-shadow: 0 0 5px #888888;
                display: inherit;
            }

        .bs-sub p {
            width: 70px;
            height: 70px;
            border-radius: 35px;
            margin-bottom: 0;
            border: 3px solid #ccc;
        }

        .pm-sub .pm-green {
            border: 3px solid #34cd01;
            color: #34cd01;
        }

        .pm-sub .pm-blue {
            border: 3px solid #03c9f6;
            color: #03c9f6;
        }

        .pm-sub .pm-yellow {
            border: 3px solid #ff9900;
            color: #ff9900;
        }

        .pm-sub .pm-red {
            border: 3px solid #f83404;
            color: #f83404;
        }

        .pm-sub p span {
            position: relative;
            font-weight: 600;
            top: -5px;
        }

        .bs-sub p span {
            font-size: 300%;
            color: #cd3333;
            position: relative;
            font-weight: 600;
            top: 3px;
        }

        .bs-sub i {
            color: #fff;
            -webkit-text-stroke: 1px #888484;
            font-size: 40px;
            position: absolute;
            top: 27px;
        }

        .pm p span, .bs p span {
            font-size: 350%;
            color: #fff;
            position: relative;
            top: 15px;
            font-weight: 600;
        }

        .mor a {
            text-transform: capitalize;
            color: #ffffff;
            float: right;
            font-weight: 500;
            font-size: 12px;
            background: #828282;
            padding: 5px 10px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

            .mor a:hover {
                text-decoration: none;
                background: #5f5f5f;
            }

        .bs-label {
            position: absolute;
            top: 24px;
            text-transform: uppercase;
        }

        .vvpd {
            height: 85px;
            width: 140px;
            border: 2px solid #ccc;
            border-radius: 15px;
        }

            .vvpd p {
                height: 60px;
                width: 60px;
                border-radius: 30px;
                position: relative;
                left: 64px;
                top: -54px;
            }

            .vvpd .foren {
                background: #01b2b8;
            }

            .vvpd .coast {
                background: #e99a01;
            }

            .vvpd p span {
                font-size: 35px;
                text-align: center;
                top: 4px;
                color: #fff;
                position: relative;
                font-weight: 600;
            }

            .vvpd img {
                top: 14px;
                position: relative;
                right: 15px;
            }

            .vvpd .text {
                position: relative;
                top: 12px;
                right: 17px;
                text-transform: uppercase;
            }

        .vvpd-sub {
            text-transform: uppercase;
        }

            .vvpd-sub p {
                width: 51px;
                height: 51px;
                border-radius: 35px;
                margin-bottom: 0;
            }

                .vvpd-sub p span {
                    font-size: 300%;
                    color: #3a3a3a;
                    position: relative;
                    font-weight: 600;
                    top: 0px;
                }

            .vvpd-sub .row:first-child p span {
                color: #01b2b8 !important;
            }

            .vvpd-sub .row:last-child p span {
                color: #e99a01 !important;
            }

        canvas {
        }

        .rgt {
            right: -4px;
        }

        .lft {
            left: -5px;
        }

        .body-height {
            min-height: 255px;
        }

        .body-height1 {
            min-height: 315px !important;
        }

        .portlet-body.body-height1 {
            padding-top: 20px;
        }
    .portlet.box.light-grey {
        border: 0;
    }
    .modal-body {
        height: calc(100vh - 232px);
        padding: 10px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .modal-body .head {
        font-weight: 600;
        color: #da2929;
    }
    .modal-body .blue-txt span {
        color: #03a9f4;
    }
    .modal-body .row {
        padding: 5px 0;
        border-bottom: 1px solid #e2e2e2;
    }
    .modal-body .row:last-child {
        border: 0;
    }
    .modal-header {
        padding: 0;
        border: 0;
    }
    .modal-header .sub-txt {
        font-size: 11px;
        color: #333;
        margin: -22px 0 0 0;
        float: right;
    }
    .modal-header .sub-txt span{
        padding: 0 9px 0 4px;
        border-right: 1px solid #ccc;
    }
    .modal-header .sub-txt span:last-child{
        border-right: 0;
    }
    #portname {
        font-size: 17px;
        font-weight: 600;
        padding: 7px 0 5px 15px;
        margin-bottom: 0;
    }
    #PortView {
        color: #fff;
        padding: 5px 15px;
        background: #152890;
    }
    #BerthName span {
        color: #152890;
        display:block;
    }
    .modal-header .close {
        margin: 15px;
    }
    .modal-footer {
        text-align: center;
        padding: 10px;
        margin: 0;
    }
        .modal-dialog {
            margin: 50px auto;
            width: 800px;
            min-height: 200px;
            max-height: 400px;
        }
        .k-grid-header .k-header {
            height: 20px;
        }

        .portlet.light-grey, .portlet.box > .portlet-body {
            background-color: #fff !important;
        }

        .map-bg img {
            width: 120%;
            margin: -100px -10% 0 !important;
        }

    body.page-sidebar-closed .map-bg img, body.page-sidebar-hover-on .map-bg img {
        width: 120%;
        margin: -220px -10% 0 !important;
    }

        .portlet.box.light-grey > .portlet-title {
            padding-top: 4px;
            background-color: #828282;
        }
    @@media (max-width: 771px) {
        .modal-body{height: calc(100vh - 230px) !important;}
    }
    </style>
<div>
   
    <div class="map-bg">

        <img src="~/Content/Images/map.jpg" id="map-image" alt="" usemap="#map" />
        <map name="map">
            <area href="#" id="SB" coords="489,611,474,587,469,556,474,538,492,537,527,537,549,537,564,542,559,552,553,560,536,566,520,565,512,583,506,594,498,606" shape="poly">
            <area href="#" id="CT" coords="513,658,507,644,499,621,507,603,523,599,535,611,553,620,572,627,578,636,576,657,567,662,551,666" shape="poly">
            <area href="#" id="MB" coords="627,666,613,627,602,597,602,574,653,573,668,582,668,590,657,613,654,624,652,643,638,662" shape="poly">
            <area href="#" id="PE" coords="677,648,680,622,700,606,732,607,751,599,772,602,775,615,775,629,766,643,761,655,690,653" shape="poly">
            <area href="#" id="NG" coords="792,640,784,620,779,603,789,594,808,594,820,608,824,618,838,621,864,627,864,640,849,646" shape="poly">
            <area href="#" id="EL" coords="853,608,831,571,821,554,813,531,835,512,859,513,881,523,886,543,877,573" shape="poly">
            <area href="#" id="DB" coords="976,484,955,485,909,485,895,471,909,453,939,452,950,433,976,426,995,438,997,464" shape="poly">
            <area href="#" id="RB" coords="1034,417,1020,416,999,410,985,414,962,414,937,386,950,372,998,372,1034,360,1059,374" shape="poly">
        </map>

        @*popup*@
        <div id="myModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content portlet light-grey box">
                    <div class="modal-header">
<button type="button" class="close" onclick="closePopup();">&times;</button>
                        @*<span class="close">&times;</span>*@
                        <p id="portname"></p>
                        <div class="sub-txt">
                            <span>Temperature: <b id="temperature"></b></span>

                            <span>WindSpeed: <b id="windspeed"></b></span>

                            <span>Time: <b id="datetime"></b></span>
                            
                        </div>
                        <div class="row ">
                            <div class="form-group">
                                <div class="col-md-12 pm-sub">
                                    <div class="row ">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <span>Anchored</span>
                                                <p class="pm-green"><span id="AnchoredCount"></span></p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <span>Berthed</span>
                                                <p class="pm-blue"><span id="BerthedCount"></span></p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <span>Sailed</span>
                                                <p class="pm-yellow"><span id="SailedCount"></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-4 head">Type</div>
                                <div class="col-md-8 blue-txt"><span>Port</span></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 head">Commodity</div>
                                <div class="col-md-8 blue-txt"><span id="Commdity"></span></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 head">Berth and Anchorages</div>
                                <div class="col-md-8" id="BerthName"><span></span></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button value="PortView" id="PortView" data-bind="click: portviewbtnclick" align="center" >Port View</button>
                        </div>
                   </div>
                </div>
            </div>
        </div>

    </div>

</div>
       <script>$(document).ready(function (e) { debugger; $("map").imageMapResize(); });</script>
       <script type="text/javascript">
           // Get the modal
           var modal = document.getElementById('myModal');

           // Get the button that opens the modal
           // var btn = document.getElementById("myBtn");

           // Get the <span> element that closes the modal
           var span = document.getElementsByClassName("close")[0];
           $(document).on('click', 'area', function () {
               //$.getJSON("/api.openweathermap.org/data/2.5/weather?q=Durban,ZA&APPID=135ae4e97e652ccaa26909d1f7ec4dfc/", function(data) { 
               //    alert(data);
               //});
               $("#temperature").text('');
               $("#windspeed").text('');
               $("#AnchoredCount").text('');
               $("#BerthedCount").text('');
               $("#SailedCount").text('');
               $("#Commdity").text('');
               $("#BerthName").empty();

               var Weatherurl = "";
               var areaid = this.id;
               if (areaid == "SB") {
                   Weatherurl = "https://api.openweathermap.org/data/2.5/weather?q=Saldanha,ZA&APPID=135ae4e97e652ccaa26909d1f7ec4dfc";
                   document.getElementById("portname").innerHTML = "Saldanha";
               }
               if (areaid == "CT") {
                   Weatherurl = "https://api.openweathermap.org/data/2.5/weather?q=Cape%20Town,ZA&APPID=135ae4e97e652ccaa26909d1f7ec4dfc";
                   document.getElementById("portname").innerHTML = "Cape Town";
               }
               if (areaid == "MB") {
                   Weatherurl = "https://api.openweathermap.org/data/2.5/weather?q=Mossel%20Bay,ZA&APPID=135ae4e97e652ccaa26909d1f7ec4dfc";
                   document.getElementById("portname").innerHTML = "Mossel Bay";
               }
               if (areaid == "PE") {
                   Weatherurl = "https://api.openweathermap.org/data/2.5/weather?q=Port%20Elizabeth,ZA&APPID=135ae4e97e652ccaa26909d1f7ec4dfc";
                   document.getElementById("portname").innerHTML = "Port Elizabeth";
               }
               if (areaid == "NG") {
                   Weatherurl = "";
                   document.getElementById("portname").innerHTML = "Ngqura";
               }
               if (areaid == "EL") {
                   Weatherurl = "https://api.openweathermap.org/data/2.5/weather?q=East%20London,ZA&APPID=135ae4e97e652ccaa26909d1f7ec4dfc";
                   document.getElementById("portname").innerHTML = "East London";
               }
               if (areaid == "DB") {
                   Weatherurl = "https://api.openweathermap.org/data/2.5/weather?q=Durban,ZA&APPID=135ae4e97e652ccaa26909d1f7ec4dfc";
                   document.getElementById("portname").innerHTML = "Durban";
               }
               if (areaid == "RB") {
                   Weatherurl = "https://api.openweathermap.org/data/2.5/weather?q=Richards%20Bay,ZA&APPID=135ae4e97e652ccaa26909d1f7ec4dfc";
                   document.getElementById("portname").innerHTML = "Richards Bay";
               }

               $.ajax({
                   url: Weatherurl,
                   dataType: 'JSON',
                   success: function (data) {
                       $("#temperature").text((data.main.temp - 273.15).toFixed(2) + " °C");
                       $("#windspeed").text((data.wind.speed * 3.6).toFixed(2) + " KM/H");
                   }
               });

               var portcode = areaid;
               $.ajax({
                   type: "GET",
                   contentType: "application/json; charset=utf-8",
                   url: 'api/GetPortWiseCount/' + portcode,
                   data: "",
                   dataType: "json",
                   success: function (data) {
                       $("#AnchoredCount").text(data[0].AnchorCount);
                       $("#BerthedCount").text(data[0].BerthCount);
                       $("#SailedCount").text(data[0].Sailed);
                       $("#Commdity").text(data[0].Cargoname);
                       var htmldataBody = '';
                       ko.utils.arrayForEach(data, function (val) {
                           htmldataBody += '<span>' + val.BerthName + '</span>';
                       });
                       $("#BerthName").empty();
                       $("#BerthName").append(htmldataBody);
                       //$('#myModal').modal('show');
                   }

               });
               modal.style.display = "block";
           });
           // When the user clicks the button, open the modal
           //btn.onclick = function () {
           //    modal.style.display = "block";
           //}

           // When the user clicks on <span> (x), close the modal
           span.onclick = function () {
               modal.style.display = "none";
           }
            
           function closePopup()
           { modal.style.display = "none"; }

           // When the user clicks anywhere outside of the modal, close it
           window.onclick = function (event) {
               if (event.target == modal) {
                   modal.style.display = "none";
               }
           }
       </script>
<script type="text/javascript">
    var dt = new Date();
    document.getElementById("datetime").innerHTML = dt.toLocaleString();
</script>
<script type="text/javascript">
        function portviewModel() {
            var self = this;
            self.portviewbtnclick = function () {
                var prtname = document.getElementById("portname").innerHTML.toString();

                prtname = (prtname == "Cape Town" ? "CT" : (prtname == "Durban" ? "DB" : (prtname == "East London" ? "EL" : (prtname == "Mossel Bay" ? "MB" : (prtname == "Richards Bay" ? "RB" : (prtname == "Saldanha" ? "SB" : (prtname == "Port Elizabeth" ? "PE" : (prtname == "Ngqura" ? "NG" : ""))))))));
                var encryptresult = "";
                var xorKey = 6;
                //encrypted code
                for (i = 0; i < prtname.length; ++i) {
                    encryptresult += String.fromCharCode(xorKey ^ prtname.charCodeAt(i));
                }

                $.cookie('PortcodeGIS', encryptresult, { path: '/' });
                $.cookie('Portcodecheck', 'true', { path: '/' });
                window.location.href = "/DeskBerthPlanningGIS";

            }
        };
    ko.applyBindings(portviewModel, $("#PortView")[0]);
</script>













